<div class="container" ng-controller="ObservationController">
	
	<!-- Placeholders for status stuff -->
	<!-- Watchers - am I watching, click to show who's watching -->
	<span class="pull-right"><span class="label label-success"><i class="fa fa-eye fa-fw"></i>Watching</span>&nbsp;</span>
	<!-- If changes, show warning include a "leaving page are you sure?"  -->
	<span ng-if="observationChanges" class="pull-right"><span class="label">{{observationChanges ? 'Unsaved' : 'Saved'}}</span>&nbsp;</span>
	<!-- Workflows, show current status. Click dropdown show actions -->
	<span class="pull-right"><span class="label label-default">{{observation.workflow.state}}</span>&nbsp;</span>
	<!-- Just show which version, click to show all versions? -->
	<span class="pull-right"><span class="label label-default">Versjon {{observation._version}}</span>&nbsp;</span>
	
	<h1>Observasjonsrapport #{{observation.id}} <workflow observation="observation"></workflow></h1>
	
	<!-- Row with tags -->
	<!-- A label showing type of observation -->
	<span class="pull-left">
	<span class="label" ng-class="{sharing:'label-success', unsafe_act:'label-default', near_miss:'label-info', incident:'label-warning', accident:'label-danger'}[observation.type]" class="label">
	{{observation.type}}</span>
	&nbsp;</span>
	
	<!-- And replicate the tags here! -->
	<div ng-repeat="tag in observation.tags">
		<span class="pull-left"><span class="label label-default">{{tag}}</span>&nbsp;</span>
	</div>
	<div class="clearfix"></div>

	<div class="form-group col-md-12">
		<observationtype observation="observation"></observationtype>
	</div>




	<div class="form-group col-xs-12" ng-repeat="item in items">

		<div class="form-group col-xs-12">

			<button class="btn btn-default btn-lg" ng-click="item.used=!item.used">
			<span ng-show="!item.used" class="fa fa-plus fa-fw"></span>
			<span ng-show="item.used" class="fa fa-minus fa-fw"></span>
				{{item.label}}
			</button>

		</div>
		<div ng-show="item.used" ng-switch="item.type">
			<div ng-switch-when="location">
				<div class="form-group col-xs-12">
					<locationselector observation="observation"></locationselector>
				</div>
			</div>

			<div ng-switch-when="organization">
				<organization observation="observation"></organization>
			</div>

			<div ng-switch-when="involved">
				<div class="form-group col-xs-12">
					<involvedpersonselector observation="observation"></involvedpersonselector>
				</div>
				<div class="form-group col-xs-12">
					<involvedpersondetails observation="observation"></involvedpersondetails>
				</div>
			</div>

			<div ng-switch-when="components">
				<div class="form-group col-xs-12">
					<incidentform observation="observation"></incidentform>
				</div>
			</div>

		</div>


	</div>
	
	<!-- Ng if has edited stuff to be saved or not -->
	<button class="btn btn-primary btn-block" ng-click="saveObservation()"><i class="fa fa-save fa-fw"></i> Lagre</button>
	
	
	<div class="form-group col-xs-12">
		<summary observation="observation"></summary>
	</div>


</div>

