<div class="container" ng-controller="ObservationController">
	<div ng-if="observation._id">


			<div class="panel panel-default">
				<div class="panel-heading">
					Observasjonsforløp
				</div>
				<div class="panel-body">

					<observation-components observation="observation"></observation-components>
				</div>
			</div>
			<!-- Ng if has edited stuff to be saved or not -->
			<button class="btn btn-primary btn-block" ng-click="saveObservation()">
				<i class="fa fa-save fa-fw"></i> Lagre
			</button>


			<div class="form-group col-xs-12">
				<summary observation="observation"></summary>
			</div>

		</div>
	</div>
</div>