<div class="clearfix"></div>
<div class="col-xs-12 col-md-12">
	<form class="form-horizontal">

		<div class="col-xs-12 col-md-4">
			<div class="form-group">
				<label><h4>Vind (knop):</h4></label>
			</div>
			<div class="form-group">
				<label>Gjennomsnitt <input ng-disabled="!acl.w" type="number" ng-model="observation.weather.manual.wind.avg" value="0" class="form-control" placeholder="">
				</label>
			</div>

			<div class="form-group">
				<label>Max <input ng-disabled="!acl.w" type="number" ng-model="observation.weather.manual.wind.max" value="0" class="form-control" placeholder="">
				</label>
			</div>
			<div class="form-group">
				<label>Min <input ng-disabled="!acl.w" type="number" ng-model="observation.weather.manual.wind.min" value="0" class="form-control" placeholder="">
				</label>
			</div>
			<div class="form-group">
				<label>Retning<select ng-disabled="!acl.w" type="select" ng-model="observation.weather.manual.wind.dir" class="form-control" placeholder="">
				<option value="N">N</option>
				<option value="NNE">NNE</option>
				<option value="NE">NE</option>
				<option value="ENE">ENE</option>
				<option value="E">E</option>
				<option value="ESE">ESE</option>
				<option value="SE">SE</option>
				<option value="SSE">SSE</option>
				<option value="S">S</option>
				<option value="SSW">SSW</option>
				<option value="SW">SW</option>
				<option value="WSW">WSW</option>
				<option value="W">W</option>
				<option value="WNW">WNW</option>
				<option value="NW">NW</option>
				<option value="NNW">NNW</option>
				</select>
				</label>
			</div>

			<div class="form-group">
				<div class="checkbox">
					<label> <input ng-disabled="!acl.w" type="checkbox" value="" ng-model="observation.weather.manual.turbulence"> Turbulens
					</label>
				</div>
				<div class="checkbox">
					<label> <input ng-disabled="!acl.w" type="checkbox" value="" ng-model="observation.weather.manual.gusting"> Gusting
					</label>
				</div>
			</div>
		</div>


		<div class="col-xs-12 col-md-4">
			<div class="form-group">
				<label><h4>Skybase (fot):</h4></label>
			</div>
			<div class="form-group">
				<label>Høyde <input ng-disabled="!acl.w" type="number" ng-model="observation.weather.manual.clouds.base" value="0" class="form-control" placeholder="">
				</label>
			</div>
			<div class="form-group">
				<div class="checkbox">
					<label> <input ng-disabled="!acl.w" type="checkbox" value="" ng-model="observation.weather.manual.clouds.raining"> Regn
					</label>
				</div>
				<div class="checkbox">
					<label> <input ng-disabled="!acl.w" type="checkbox" value="" ng-model="observation.weather.manual.clouds.fog"> Tåke
					</label>
				</div>
				<div class="checkbox">
					<label> <input ng-disabled="!acl.w" type="checkbox" value="" ng-model="observation.weather.manual.clouds.hail"> Hagl
					</label>
				</div>
				<div class="checkbox">
					<label> <input ng-disabled="!acl.w" type="checkbox" value="" ng-model="observation.weather.manual.clouds.snow"> Snø
					</label>
				</div>

				<div class="checkbox">
					<label> <input ng-disabled="!acl.w" type="checkbox" value="" ng-model="observation.weather.manual.clouds.thunder"> Torden
					</label>
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-md-4">
			<div class="form-group">
				<label><h4>Temperatur (&deg;C):</h4></label>
			</div>
			<div class="form-group">
				<label>På bakken <input ng-disabled="!acl.w" type="number" ng-model="observation.weather.manual.temp.ground" value="0" class="form-control" placeholder=""></label>
			</div>
			<div class="form-group">
				<label>I utsprangshøyde <input ng-disabled="!acl.w" type="number" ng-model="observation.weather.manual.temp.altitude" value="0" class="form-control" placeholder="">
				</label>
			</div>
		</div>
		<div class="col-xs-12 col-md-12">
			<div class="form-group">
				<label>Beskrivelse:</label>
				<textarea ng-disabled="!acl.w" class="form-control" rows="3" ng-model="observation.weather.manual.description" placeholder="Beskrivelse"></textarea>
			</div>
		</div>
	</form>
	<div class="clearfix"></div>
</div>
<div class="clearfix"></div>