<div >
	<div ng-if="observation._id">

		<div ng-switch="fullscreen" class="aside-content">


			<div ng-switch-when="component">
				<fullscreen acl="acl" observation="observation" title-text="Komponent" fullscreen="fullscreen">
					<observation-component acl="acl" observation="observation"></observation-component>
				</fullscreen>
			</div>
			<div ng-switch-when="involved">
				<fullscreen acl="acl" observation="observation" title-text="Involverte personer og utstyr" fullscreen="fullscreen">
					<involvedpersonselector acl="acl" observation="observation"></involvedpersonselector>
				</fullscreen>
			</div>

			<div ng-switch-when="organization">
				<fullscreen acl="acl" observation="observation" title-text="Hoppfeltorganiseringen" fullscreen="fullscreen">
					<organization acl="acl" observation="observation"></organization>
				</fullscreen>
			</div>

			<div ng-switch-when="location">
				<fullscreen acl="acl" observation="observation" title-text="Rediger klubben sine steder" fullscreen="fullscreen">
					<locationselector clublocations="clublocations" acl="acl" observation="observation"></locationselector>
				</fullscreen>
			</div>

			<div ng-switch-when="weather">
				<fullscreen acl="acl" observation="observation" title-text="Beskriv værforholda" fullscreen="fullscreen">
					<weather acl="acl" observation="observation"></weather>
				</fullscreen>
			</div>

			<div ng-switch-when="actions">
				<fullscreen acl="acl" observation="observation" title-text="Legg til tiltak" fullscreen="fullscreen">
					<actions acl="acl" observation="observation"></actions>
				</fullscreen>
			</div>

			<div ng-switch-when="workflow">
				<fullscreen acl="acl" observation="observation" title-text="Arbeidsflyt for #{{observation.id}}" fullscreen="fullscreen" observation-changes="observationChanges">
					<workflow acl="acl" observation="observation" observation-changes="observationChanges" is-finished="isFinished"></workflow>
				</fullscreen>
			</div>

			<div ng-switch-when="summary">
				<fullscreen acl="acl" observation="observation" title-text="Datamodell for #{{observation.id}}" fullscreen="fullscreen" observation-changes="observationChanges">
					<observationsummary observation="observation"></observationsummary>
				</fullscreen>
			</div>

			<div ng-switch-when="file">
				<fullscreen acl="acl" observation="observation" title-text="Fil" fullscreen="fullscreen" observation-changes="observationChanges">
					<filepreviews observation="observation" acl="acl"></filepreviews>
				</fullscreen>
			</div>


			<div ng-switch-default>

				<!-- Placeholders for status stuff -->

				<!-- Workflows, show current status. Click dropdown show actions -->
				<span class="pull-right"><workflow-button observation-changes="observationChanges" observation="observation"></workflow-button>&nbsp;</span>
				<!-- <span class="pull-right"><workingcomments observation="observation"></workingcomments>&nbsp;</span> -->

				<h1 class="hidden-xs text-muted">#{{observation.id}}  {{observation.tags.join('/')}} <small><resolveclub clubid="observation.club"></resolveclub></small></h1>
				<h3 class="visible-xs text-muted">#{{observation.id}}  {{observation.tags.join('/')}} <small><resolveclub clubid="observation.club"></resolveclub></small></h3>

				<!-- Row with tags -->
				<!-- A label showing type of observation -->
		<span class="pull-left">
		
		<span class="hidden-xs label label-default">{{observation.when | date:'yyyy-MM-dd HH:mm'}}</span> 
		
		<span class="label"	ng-class="{sharing:'label-success', unsafe_act:'label-default', near_miss:'label-info', incident:'label-warning', accident:'label-danger'}[observation.type]" class="label">
				{{observationTypesArray[observation.type]}}</span> &nbsp;
		</span>

				<!-- Just show which version, click to show all versions? -->
		<span class="pull-left">
			<span class="hidden-xs label label-default">Versjon {{observation._version}}</span>&nbsp;
		</span>
		
		<span class="pull-left">
			<span class="label label-default"><resolveclub clubid="observation.club"></resolveclub></span>&nbsp;
		</span>
		
		<span class="pull-left">
			<span class="hidden-xs label label-default">Opprettet: <resolveuser userid="observation.reporter"></resolveuser></span>&nbsp;
		</span>
		<span class="pull-left">
			<span class="hidden-xs label label-default">Eier: <resolveuser userid="observation.owner"></resolveuser></span>&nbsp;
		</span>

				<span ng-if="(acl.x && acl.w)" class="pull-left "><span class="hidden-xs label label-danger">Skrivetilgang</span>&nbsp;</span>
				<span ng-if="(acl.x)" class="pull-left"><span class="hidden-xs label label-warning">Arbeidsflyttilgang</span>&nbsp;</span>
				<span ng-if="(acl.r && !acl.x)" class="pull-left"><span class="hidden-xs label label-info">Lesetilgang</span>&nbsp;</span>

				<!-- If changes, show warning include a "leaving page are you sure?"  -->
				<span ng-if="observationChanges" class="pull-left"><span ng-click="saveObservation()" class="hidden-xs label label-danger">{{observationChanges ? 'Endringer' : 'Lagret'}}</span>&nbsp;</span>

				<!-- And replicate the tags here!
				<div ng-repeat="tag in observation.tags">
					<span class="pull-left"><span class="label label-default">{{tag}}</span>&nbsp;</span>
				</div>
				-->

				<div class="clearfix"></div>

				<br />

				<!-- EDITABLE -->

				<!-- LISTBOX -->
				<div class="list-group air"  style="padding: 50px 0px">

					<li class="list-group-item">
						<p class="list-group-item-text">
						<div class="col-xs-12  col-md-12">
							<label class="control-label">Tittel</label>
							<inlinehelp>Bruk en eller flere tagger som tittel på observasjonen</inlinehelp>
							<tagging acl="acl" model="observation.tags" group="observation" noun="ord"></tagging>

						</div>
						</p>
						<div class="clearfix"></div>
					</li>

					<!-- FILES (show xs sm -->
					<li class="list-group-item hidden-md hidden-lg">
						<p class="list-group-item-text">

						<div class="row">
							<files acl="acl" save="saveObservation()" editmode="true" observation="observation"></files>
						</div>

						<button class="btn btn-block btn-primary" ng-file-select ng-multiple="true" ng-file-change="upload($files)">
							<i class="fa fa-plus fa-fw"></i> Legg til fil
						</button>

						</p>
						<div class="clearfix"></div>
					</li>


					<li class="list-group-item">
						<p class="list-group-item-text">
						<div class="col-xs-12 col-md-4">
							<div class="form-group">
								<label class="control-label">Observasjonstidspunkt</label>
								<inlinehelp>Dato og gjerne klokkeslett når dette skjedde</inlinehelp>
								<br />
								<observationdateselector acl="acl" observation="observation"></observationdateselector>
							</div>
						</div>

						<div class="col-xs-12 col-md-3 col-md-offset-1">
							<observationtype acl="acl" observation="observation"></observationtype>
						</div>
						<!-- Ratings -->
						<div class="col-xs-12 col-md-4">

							<div class="form-group">
								<label class="control-label">Alvorlighetsgrad</label>
								<inlinehelp><p>Hvor galt kunne det ha gått (worst case), og hvor alvorlig ble faktisk utfallet i observasjonen</p>
									<ol>
										<li>Alt OK</li>
										<li>Til ettertanke/gjennomgang</li>
										<li>Mindre skade på person/utstyr</li>
										<li>Middels skade</li>
										<li>Alvorlig skade eller restriksjoner i aktivitet (LT eller NLF)</li>
										<li>Skade med alvorlig men, mulig død</li>
										<li>Død</li>
										<li>Flere døde</li>
									</ol>
								</inlinehelp>
								<br />
								<p>
									<rating-actual acl="acl" observation="observation"></rating-actual>
								</p>
								<p>
									<rating-potential acl="acl" observation="observation"></rating-potential>
								</p>
								<p>
									<observationflags acl="acl" observation="observation"></observationflags>
								</p>
							</div>
						</div>
						</p>
						<div class="clearfix"></div>
					</li>

					<!-- FILES (hidden xs sm -->
					<li class="list-group-item hidden-xs hidden-sm">
						<p class="list-group-item-text">

						<div class="row">
							<files acl="acl" save="saveObservation()" editmode="true" observation="observation"></files>
						</div>



						<div ng-if="acl.w">
							<div type="file" ngf-drop ng-model="files" ngf-change="upload($files)" class="drop-box" ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true" ngf-pattern="*">Dra og slipp filer her</div>
							<div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
						</div>

						<button ng-disabled="!acl.w" class="btn btn-block btn-primary" ngf-select ngf-change="upload($files)" ngf-multiple="true">
							<i class="fa fa-plus fa-fw"></i> Legg til fil
						</button>


						</p>
						<div class="clearfix"></div>
					</li>

					<li id="location" class="list-group-item">
						<h4 class="list-group-item-heading">Sted</h4>
						<p class="list-group-item-text">
							<locationsummary clublocations="clublocations" observation="observation" acl="acl"></locationsummary>
						</p>
						<div class="clearfix"></div>
					</li>

					<li id="organization" class="list-group-item">
						<h4 class="list-group-item-heading">Hoppfeltorganisasjon</h4>
						<p class="list-group-item-text">
							<organization-summary observation="observation"></organization-summary>
							<button type="button" class="btn btn-default pull-right col-xs-12" ng-click="setFullscreen('organization')"><i class="fa fa-plus fa-fw"></i>Endre Organisasjon</button>
						</p>
						<div class="clearfix"></div>
					</li>

					<li id="involved" class="list-group-item">
						<h4 class="list-group-item-heading">Involverte personer og utstyr</h4>
						<p class="list-group-item-text">
							<involved-summary observation="observation"></involved-summary>
							<button type="button" class="btn btn-default pull-right col-xs-12" ng-click="setFullscreen('involved')"><i class="fa fa-plus fa-fw"></i>Involverte personer og utstyr</button>
						</p>
						<div class="clearfix"></div>
					</li>

					<li id="components" class="list-group-item">
						<h4 class="list-group-item-heading">Komponenter i forløpet</h4>
						<p class="list-group-item-text">
							<observation-components-summary observation="observation"></observation-components-summary>
							<button type="button" class="btn btn-default pull-right col-xs-12" ng-click="setFullscreen('components')"><i class="fa fa-plus fa-fw"></i>Endre forløpet</button>

						</p>
						<div class="clearfix"></div>
					</li>

					<!-- Weather; should be more intelligent and using weather icons? -->
					<li id="weather" class="list-group-item">
						<h4 class="list-group-item-heading">Været</h4>
						<p class="list-group-item-text">
							<span ng-show="observation.weather.manual.wind.max"><span class="label label-default">Max {{observation.weather.manual.wind.max}} knop </span>&nbsp;</span>
							<span ng-show="observation.weather.manual.wind.avg"><span class="label label-default">Avg {{observation.weather.manual.wind.avg}} knop </span>&nbsp;</span>
							<span ng-show="observation.weather.manual.wind.gusting"><span class="label label-warning">Gusting</span>&nbsp;</span>
							<span ng-show="observation.weather.manual.wind.turbulence"><span class="label label-warning">Turbulent</span>&nbsp;</span>
							<span ng-show="observation.weather.manual.wind.dir"><span class="label label-default">{{observation.weather.manual.wind.dir}}</span>&nbsp;</span>

						<div class="clearfix"></div><br />
						<p>{{observation.weather.manual.description}}</p>
						<div class="clearfix"></div>

						<button type="button" class="btn btn-default pull-right col-xs-12" ng-click="setFullscreen('weather')"><i class="fa fa-plus fa-fw"></i>Endre Været</button>

						</p>
						<div class="clearfix"></div>
					</li>

					<!-- Actions! -->
					<li id="actions" class="list-group-item">
						<h4 class="list-group-item-heading">Tiltak</h4>
						<p class="list-group-item-text">



						<div class="col-xs-12 col-md-6">
							<strong>Lokale:</strong>
							<ol>
								<li ng-repeat="a in observation.actions.local track by $index">{{a}}</li>
							</ol>
						</div>
						<div class="col-xs-12 col-md-6">
							<strong>Sentrale:</strong>
							<ol>
								<li ng-repeat="a in observation.actions.central track by $index">
									{{a}}
								</li>
							</ol>
						</div>



						<div class="clearfix"></div>
						<button type="button" class="btn btn-default btn-block" ng-click="setFullscreen('actions')"><i class="fa fa-plus fa-fw"></i> Legg til tiltak</button>

						</p>
						<div class="clearfix"></div>
					</li>

					<!-- Holdninger, kunnskap og ferdigheter -->
					<li class="list-group-item">
						<div class="col-md-4 col-xs-12">
							<label class="control-label">Vurdering</label>
							<inlinehelp>
								Hvordan vurderer du holdninger, kunnskaper og ferdigheter opp mot forløpet av denne observasjonen?
							</inlinehelp>
							<p class="list-group-item-text">
								<observation-hfk-selector acl="acl" editmode="true" verbose="true" model="observation.ask"></observation-hfk-selector>
							</p>
						</div>

						<div class="col-md-8 col-xs-12">
							<label class="control-label">Kommenter vurdering</label>
							<inlinehelp>
								Skriv korte konsise betrakninger rundt observasjonen. Husk at dette kun vil være gjenstand for manuell gjennomlesning.
							</inlinehelp>
							<observation-hfk-text acl="acl" askmodel="observation.ask" acl="acl" state="{{observation.workflow.state}}"></observation-hfk-text>


						</div>

						<div class="clearfix"></div>
					</li>


					<!--
					<li class="list-group-item">
						<h4 class="list-group-item-heading">Relaterte</h4>
						<p class="list-group-item-text"></p>
						<div class="clearfix"></div>
					</li>
					 -->

					<li class="list-group-item" ng-hide="true">
						<h4 class="list-group-item-heading">Datamodell<inlinehelp>Se hva som faktisk blir lagret</inlinehelp></h4>
						<p class="list-group-item-text">
							<summary-button observation="observation"></summary-button>
						</p>
						<div class="clearfix"></div>
					</li>

				</div>
				<!-- END LISTBOX -->

				<!-- Ng if has edited stuff to be saved or not -->
				<button ng-disabled="!observationChanges" class="btn btn-primary btn-block" ng-click="saveObservation()">
					<i class="fa fa-save fa-fw"></i> Lagre
				</button>
				<br>
				<span class="block" ng-if="observation.workflow.state=='draft'"><workflow-button observation-changes="observationChanges" observation="observation" btnclass="btn-block">Send til HI</workflow-button>&nbsp;</span>
			</div>
		</div>

	</div>
</div>


