<div ng-controller="ReportController">
	<div ng-if="::observation._id">
		
		
		
		
		<!-- START -->

		<div class="list-group" style="padding: 50px -15px; margin-left: -15px; margin-right: -15px;">

			<li class="list-group-item">
				<p class="list-group-item-text">
				<div class="col-xs-12  col-md-12">

					<div class="pull-right">
						<span ng-if="::observation.workflow.state!='closed'"><workflow observation-changes="observationChanges" observation="observation"></workflow>&nbsp;</span>
						
						<span ng-if="::observation.workflow.state=='closed'" class="label" ng-class="{sharing:'label-success', unsafe_act:'label-default', near_miss:'label-info', incident:'label-warning', accident:'label-danger'}[observation.type]"> 
							<resolveobservationtype type="::observation.type"></resolveobservationtype>
						</span>
						
						<span ng-if="::observation.workflow.state=='closed'"> &nbsp; <comments observation="observation"></comments> &nbsp; <share observation="observation"></share> &nbsp; <!-- Watchers - am I watching, click to show who's watching -->
							<watchers observation="observation"></watchers>
						</span>
					</div>

					<h2>
						<span class="">#{{::observation.id}}</span>
						<tags tags="::observation.tags"></tags>
					</h2>

				</div>
				</p>
				<div class="clearfix"></div>
			</li>

			<li class="list-group-item">
				<p class="list-group-item-text">
				<div class="col-xs-12  col-md-6">

					<table class="table table-condensed">
						<caption>Sammendrag</caption>
						<tr>
							<td>Hovedinstruktør</td>
							<td><span ng-repeat="person in ::observation.organization.hi"> <span><resolveuser userid="::person"></resolveuser></span> &nbsp;
							</span></td>
						</tr>
						<tr>
							<td>Klubb</td>
							<td><resolveclub clubid="::observation.club"></resolveclub></td>
						</tr>
						<tr>
							<td>Type</td>
							<td><resolveobservationtype type="::observation.type"></resolveobservationtype></td>
						</tr>
						<tr ng-if="::observation.flags">
							<td>Flagg</td>
							<td><resolveobservationflags flags="::observation.flags"></resolveobservationflags></td>
						</tr>
						<tr>
							<td>Alvorlighetsgrad</td>
							<td>{{::observation.rating.actual}} / {{::observation.rating.potential}}</td>
						</tr>


						<tr>
							<td>Tidspunkt</td>
							<td>{{::observation.when | date:'yyyy-MM-dd HH:mm'}}</td>
						</tr>
						<tr>
							<td>Opprettet</td>
							<td>{{::observation._created | date:'yyyy-MM-dd HH:mm'}}</td>
						</tr>
						<tr>
							<td>Lukket</td>
							<td ng-if="::observation.workflow.state=='closed'">{{::observation.workflow.last_transition | date:'yyyy-MM-dd HH:mm'}}</td>
							<td ng-if="::observation.workflow.state!='closed'"><span class="text-danger">Ikke lukket</span></td>
						</tr>
						<tr>
							<td>Behandlingstid</td>
							<td>{{::timeTaken}}</td>
						</tr>
						<tr>
							<td>Involverte</td>
							<td>{{::observation.involved.length}}</td>
						</tr>
						<tr>
							<td>Kjennelser</td>
							<td>
								<div ng-repeat="v in ::observation.involved">
									<div ng-if="::v.verdict.fu">Farlig Ukontrollert </div>
									<div ng-if="::v.verdict.mh">Permanent Hoppforbud </div>
									<div ng-if="::v.verdict.ph">Midlertidig Hoppforbud</div>
								</div>
							</td>
						</tr>

					</table>

				</div> <!-- MAP -->
				<div class="col-xs-12  col-md-6">
					<label class="control-label">{{::observation.location.municipality}}, {{::observation.location.name}}</label>
					<div ng-if="::observation.location.geo.coordinates">
						<map center="{{::observation.location.geo.coordinates}}" zoom="8">
							<marker position="{{::observation.location.geo.coordinates}}" title="{{::observation.location.name}}" draggable="false" visible="true"></marker>
						</map>
					</div>
				</div>
				</p>
				<div class="clearfix"></div>
			</li>

			<!--  WORKFLOW -->
			<li class="list-group-item">
				<div class="col-xs-12  col-md-12">
					<!-- streamline -->
					<label class="control-label">Audit</label>
					<workflowtimeline audit="::observation.workflow.audit"></workflowtimeline>
				</div>
			<div class="clearfix"></div>
			</li>
			
			<!--  /WORKFLOW -->
			
			

			<!-- INVOLVERTE -->
			<li class="list-group-item">
				<div class="col-xs-12  col-md-12">
					<label class="control-label"> Involverte </label>
					<table class="table table-condensed">
						<tr>
							<th>Hopper</th>
							<th>Lisenser</th>
							<th>Hopp</th>
							<th>År</th>
							<th>Hopptype</th>
							<th>Kjennelse</th>
							<th>Utstyr</th>
						</tr>
						<tr ng-repeat="p in ::observation.involved">
							<td><resolveuser userid="::p.id" tmpname="::p.tmpname"></resolveuser>
								<!-- Hopper {{$index+1}}--></td>
							<td>
								<div ng-repeat="l in ::p.licenses.rights">
									<resolvelicense licenseid="::l"></resolvelicense>
								</div>
							</td>
							<td>{{::p.numberOfJumps}}</td>
							<td>{{::p.yearsOfExperience}}</td>

							<td>{{::p.jumptypeSelected}}</td>
							<td>
								<div ng-if="::p.verdict.fu">
									<span class="label label-warning">Farlig Ukontrollert</span>
								</div>
								<div ng-if="::p.verdict.ph">
									<span class="label label-danger">Permanent Hoppforbud</span>
								</div>
								<div ng-if="::p.verdict.mh">
									<span class="label label-danger">Midlertidig Hoppforbud</span>
								</div>
							</td>

							<td><label ng-if="::p.gear.harnessType || p.gear.harnessExperience">Seletøy: </label> <span ng-if="::p.gear.harnessType">{{::p.gear.harnessType}}</span> <span
								ng-if="::p.gear.harnessExperience">{{::p.gear.harnessExperience}} hopp</span> <br ng-if="::p.gear.harnessType || p.gear.harnessExperience"> <label
								ng-if="::p.gear.mainCanopyType||p.gear.mainCanopyExperience||p.gear.mainCanopySize">Hovedskjerm: </label> <span ng-if="::p.gear.mainCanopyType">{{::p.gear.mainCanopyType}}</span> <span
								ng-if="::p.gear.mainCanopySize">{{::p.gear.mainCanopySize}} sqft</span> <span ng-if="::p.gear.mainCanopyExperience">{{::p.gear.mainCanopyExperience}} hopp</span> <br
								ng-if="::p.gear.mainCanopyType||p.gear.mainCanopyExperience||p.gear.mainCanopySize"> <label ng-if="::p.gear.reserveCanopyType ||p.gear.reserveCanopySize">Reserveskjerm: </label> <span
								ng-if="::p.gear.reserveCanopyType">{{::p.gear.reserveCanopyType}}</span> <span ng-if="::p.gear.reserveCanopySize">{{::p.gear.reserveCanopySize}}</span> <br
								ng-if="::p.gear.reserveCanopyType ||p.gear.reserveCanopySize"></td>
						</tr>
					</table>
				</div>
				<div class="clearfix"></div>
			</li>

			<!-- Forløp tidslinje! -->
			<li class="list-group-item">
				<p class="list-group-item-text">
				<div class="col-xs-12  col-md-12">
					<label class="control-label">Forløp</label> <span ng-if="::observation.components.length == 0">Intent forløp</span>
					<div class="clearfix"></div>

					<ul class="timeline" ng-if="::observation.components.length > 0">


						<li ng-repeat="c in ::observation.components">


							<div class="timeline-badge"
								ng-class="{ 'default': 	c.flags.barrier, 
											'info': 	c.flags.incident,
											'warning': 	c.flags.cause || c.flags.root_cause,
											'danger': 	c.flags.consequence || c.flags.final_consequence,
											
											}">
											
<!-- 											'warning': 	c.flags.root_cause, -->
<!-- 											'danger': 	c.flags.final_consequence -->
								{{$index+1}}
								<!-- 									<small> -->
								<!-- 										<span ng-if="::c.flags.barrier" class="label label-default">{{::$index+1}} Barriære</span> -->
								<!-- 										<span ng-if="::c.flags.incident" class="label label-info">{{::$index+1}} Hendelse</span> -->
								<!-- 										<span ng-if="::c.flags.cause" class="label label-warning">{{::$index+1}} Årsak</span> -->
								<!-- 										<span ng-if="::c.flags.root_cause" class="label label-warning">{{::$index+1}} Rot Årsak</span> -->
								<!-- 										<span ng-if="::c.flags.consequence" class="label label-danger">{{::$index+1}} Konsekvens</span> -->
								<!-- 										<span ng-if="::c.flags.final_consequence" class="label label-danger">{{::$index+1}} Sluttkonsekvens</span> -->
								<!-- 									</small> -->
							</div>

							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4 class="timeline-title">
										<small class="pull-right">
										<span ng-if="::c.flags.barrier" class="label label-default">Barriære</span>
										<span ng-if="::c.flags.incident" class="label label-info">Hendelse</span>
										<span ng-if="::c.flags.cause" class="label label-warning">Årsak</span>
										<span ng-if="::c.flags.root_cause" class="label label-warning">Rot Årsak</span>
										<span ng-if="::c.flags.consequence" class="label label-danger">Konsekvens</span>
										<span ng-if="::c.flags.final_consequence" class="label label-danger">Sluttkonsekvens</span>
										</small>
									</h4>
									<h4 class="timeline-title">
										<tags tag="::c.what"></tags>

									</h4>
								</div>
								<div class="timeline-body">


									<dl class="dl-horizontal">
										<dt>Hvem:</dt>
										<dd>
											<div ng-repeat="p in ::c.involved">
												<resolveuser userid="::p.id" tmpname="::p.tmpname"></resolveuser>
											</div>
										</dd>
										<dt>Hva:</dt>
										<dd>
											<tags tag="::c.what"></tags>
										</dd>
										<dt>Hvor</dt>
										<dd>
											<tags tag="::c.where.at"></tags>
											({{::c.where.altitude}}fot)
										</dd>
										<dt>Hvordan:</dt>
										<dd>
											<tags tags="::c.tags"></tags>
											<br ng-if="::c.tags">
											<small><i>{{::c.how}}</i></small>
										</dd>
										<dt>Flagg:</dt>
										<dd>
											<flags attributes="::c.attributes"></flags>
										</dd>
									</dl>

								</div>
							</div>
						</li>
					</ul>
				</div>
				</p>
				<div class="clearfix"></div>
			</li>

			<!-- FILES -->
			<li class="list-group-item">

				<p class="list-group-item-text">
					<label class="control-label">Vedlegg</label>

					<filepreviews save="saveObservation()" observation="observation"></filepreviews>
				</p>
				<div class="clearfix"></div>
			</li>

			<!-- HOPPFELTORG -->
			<li class="list-group-item">
				<p class="list-group-item-text">
				<div class="col-xs-12  col-md-6">
					<label class="control-label">Hoppfeltorganisering</label>
					<div class="clearfix"></div>
					<dl class="dl-horizontal">
						<dt>HL:</dt>
						<dd>
							<span ng-repeat="k in ::observation.organization.hl"><resolveuser userid="::k.id" tmpname="::k.tmpname"></resolveuser></span>
						</dd>
						<dt>HFL:</dt>
						<dd>
							<span ng-repeat="k in ::observation.organization.hfl"><resolveuser userid="::k.id" tmpname="::k.tmpname"></resolveuser></span>
						</dd>
						<dt>HM:</dt>
						<dd>
							<span ng-repeat="k in ::observation.organization.hm"><resolveuser userid="::k.id" tmpname="::k.tmpname"></resolveuser></span>
						</dd>
						<dt>Pilot:</dt>
						<dd>
							<span ng-repeat="k in ::observation.organization.pilot"><resolveuser userid="::k.id" tmpname="::k.tmpname"></resolveuser></span>
						</dd>
					</dl>
				</div>
				</p>
				<div class="clearfix"></div>
			</li>
			<li class="list-group-item">
				<p class="list-group-item-text">
				<div class="col-xs-12  col-md-12">
					<label class="control-label">Været</label>
					<div class="clearfix"></div>
					<div class="col-xs-12  col-md-4">
						<dl class="dl-horizontal">
							<dt>Vind</dt>
							<dd></dd>
							<dt ng-show="observation.weather.manual.wind.max">Maks:</dt>
							<dd>{{::observation.weather.manual.wind.max}} knop</dd>
							<dt>Gjennomsnitt:</dt>
							<dd>{{::observation.weather.manual.wind.avg}} knop</dd>
							<dt>Minimum:</dt>
							<dd>{{::observation.weather.manual.wind.min}} knop</dd>
							<dt>Turbulens:</dt>
							<dd>{{::observation.weather.manual.wind.tubulence ? 'JA' : 'NEI'}}</dd>
							<dt>Gusting:</dt>
							<dd>{{::observation.weather.manual.wind.gusting ? 'JA' : 'NEI'}}</dd>
						</dl>
					</div>
					<div class="col-xs-12  col-md-4">
						<dl class="dl-horizontal">
							<dt>Skyer</dt>
							<dd></dd>
							<dt>Skybase:</dt>
							<dd>{{::observation.weather.manual.clouds.base}} fot</dd>
							<dt>Regn:</dt>
							<dd>{{::observation.weather.manual.clouds.rain ? 'JA' : 'NEI'}}</dd>
							<dt>Tåke:</dt>
							<dd>{{::observation.weather.manual.clouds.fog ? 'JA' : 'NEI'}}</dd>
							<dt>Hagl:</dt>
							<dd>{{::observation.weather.manual.clouds.hail ? 'JA' : 'NEI'}}</dd>
							<dt>Snø:</dt>
							<dd>{{::observation.weather.manual.clouds.snow ? 'JA' : 'NEI'}}</dd>
							<dt>Torden:</dt>
							<dd>{{::observation.weather.manual.clouds.thunder ? 'JA' : 'NEI'}}</dd>
						</dl>
					</div>

					<div class="col-xs-12  col-md-4">
						<dl class="dl-horizontal">
							<dt>Temperatur</dt>
							<dd></dd>
							<dt>Bakken:</dt>
							<dd>{{::observation.weather.manual.temp.ground}}&deg;C</dd>
							<dt>Høyden:</dt>
							<dd>{{::observation.weather.manual.temp.altitude}}&deg;C</dd>
							<div class="col-xs-12  col-md-4"></div>
						</dl>
					</div>
					<div class="col-xs-12  col-md-12">
						<strong>{{::observation.weather.manual.description}}</strong>
						<p>Yr: {{::observation.weather.auto.yr['@from']}}-{{::observation.weather.auto.yr['@to']}} {{::observation.weather.auto.yr.windDirection['@deg']}}&deg;
							{{::observation.weather.auto.yr.windSpeed['@mps']*1.81}} knop</p>
						<p>{{::observation.weather.auto.metar}}</p>
						<p>{{::observation.weather.auto.taf}}</p>
					</div>

				</div>
				</p>
				<div class="clearfix"></div>
			</li>


			<li class="list-group-item">
				<p class="list-group-item-text">
				<div class="col-xs-12  col-md-12">
					<label class="control-label">Tiltak</label>
					<div class="clearfix"></div>
					<div class="col-xs-12 col-md-6" ng-show="observation.actions.local">
						<strong>Lokale:</strong>
						<ol>
							<li ng-repeat="a in ::observation.actions.local">{{a}}</li>
						</ol>
					</div>
					<div class="col-xs-12 col-md-6" ng-show="::observation.actions.central">
						<strong>Sentrale:</strong>
						<ol>
							<li ng-repeat="a in ::observation.actions.central">{{::a}}</li>
						</ol>
					</div>
					<div class="clearfix"></div>
				</div> <!-- 
				<div class="col-xs-12  col-md-6">
					<label class="control-label">Relaterte</label>
					<div class="clearfix"></div>
					{{observation.related.join(' ')}}
				</div>
				 -->
				</p>
				<div class="clearfix"></div>
			</li>

			<!-- 			<li class="list-group-item"> -->
			<!-- 				<p class="list-group-item-text"> -->
			<!-- 				<div class="col-xs-12  col-md-12"> -->
			<!-- 					<label class="control-label">DUMP</label> -->
			<!-- 					<div class="clearfix"></div> -->
			<!-- 					{{observation | json }} -->
			<!-- 				</div> -->
			<!-- 				</p> -->
			<!-- 				<div class="clearfix"></div> -->
			<!-- 			</li> -->

		</div>

		<!-- END -->
	</div>
</div>
