<div>

	<div class="row">
		<div ng-show="!observation">

			<div class="col-xs-12">
				<flagsearch></flagsearch>
			</div>


			<div class="col-xs-12">
				<searchform query="tag"></searchform>
			</div>

			<br>
			<br>
			<br>
			<br>
			<!--
			<div class="col-xs-12 hidden-xs hidden-sm">
				<searchformadvanced model="queryObj"></searchformadvanced>
			</div>
			-->

			<div class="col-xs-12">
				<caption>
					<h3 ng-if="tag" ng-bind="tag"></h3>
				</caption>
				<caption>
					<h3 ng-if=flag><flags attributes="attributes"></flags></h3>
				</caption>

				<caption>
					<span class="h4">Totalt: </span><span class="h4" ng-bind="total"></span>
				</caption>

			</div>




			<div class="col-xs-12 col-md-12 table-responsive" >
				<!-- ng-table all observations -->
				<table ng-table="tableParams" show-filter="false" class="table table-condensed table-striped table-responsive table-bordered">

					<tr ng-repeat="observation in $data">
						<td data-title="'Observasjon'" sortable="'id'"><a  ng-click="viewObservation(observation)">#{{::observation.id}} {{::observation.tags.join(', ')| cut:true:20:' ...'}} </a></td>
						<td data-title="'Tid'" sortable="'date'">{{::observation.when | date:'yyyy-MM-dd'}}</td>
						<td data-title="'Klubb'" filter="{ 'club': 'select' }" filter-data="getClubs()"><resolveclub clubid="::observation.club"></resolveclub></td>
						<td data-title="'Forløp'">
							<span class="table table-condensed">
								<span ng-repeat="c in observation.components">

										<b>{{c.what}}</b>

										<flags attributes="::c.attributes"></flags>

										{{c.tags.join(', ')}}
									<br>
								</span>
							</span>
						</td>
						<td data-title="'Innvolvert'">
							<span class="table table-condensed">

								<span ng-repeat="person in observation.involved">
										<resolveuser userid="person.id" tmpname="person.tmpname"></resolveuser>
										<br>
									<small>
										{{::person.jumptypeSelected}} {{person.jumptypeTags.join(', ')}} <br>
										{{person.numberOfJumps}} hopp
										{{person.yearsOfExperience}} år <br>
										{{person.gear.harnessType}} {{person.gear.mainCanopyType}} {{person.gear.other.join(', ')}} <br>
									</small>

								</span>

							</span>

						</td>

					</tr>
				</table>

			</div>
		</div>

		<div class="col-xs-12 col-md-12" ng-if="observation">
			<br>

			<span> <span ng-repeat="obs in tableData" ><a ng-click="viewObservation(obs)"><span ng-class="{h3:obs.id==observation.id,h4:obs.id!=observation.id}">#{{::obs.id}}</span></a> </span> </span>

			<a ng-click="hideObservation()"><h4><<< Tilbake til søkeresultater </h4></a>
			<a class="pull-right" href="#!/observation/report/{{::observation.id}}"><h4>Åpne #{{::observation.id}} i rapport</h4></a>

		</div>

	</div>
<div>
	<ng-include src="'components/observation/report.html'">

	</ng-include>
</div>



</div>