<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" id="ng-app" ng-app="anomalyApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Avviksrapportering F/NLF</title>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="js/jquery-1.11.0.min.js"></script>
 
        <!--AngularJS-->
        <script src="angular/angular.js"></script>
        <script src="angular/angular-route.js"></script>
        <script src="angular/app.js"></script>
        <script src="angular/angular-resource.js"></script>


        <!--Select2-->
        <script src="js/ui-select2/select2/select2.js"></script>
        <script src="js/ui-select2/angular-ui.js"></script>
        <script src="js/ui-select2/select2.js"></script>
        <link href="js/ui-select2/select2-bootstrap.css" rel="stylesheet">
        <link href="js/ui-select2/select2.css" rel="stylesheet">

        <!--Angular Controllers-->
        <script src="angular/controllers/clubController.js"></script>
        <script src="angular/controllers/clubDetailController.js"></script>
        <script src="angular/controllers/mainController.js"></script>
        <script src="angular/controllers/locationsController.js"></script>
        <script src="angular/controllers/reportController.js"></script>
        <script src="angular/controllers/personsController.js"></script>
        <script src="angular/controllers/personDetailController.js"></script>
        <script src="angular/controllers/incidentController.js"></script>
        <script src="angular/controllers/incidentDetailController.js"></script>
        <script src="angular/controllers/hiController.js"></script>
        <script src="angular/controllers/licensesController.js"></script>
        <script src="angular/controllers/gearController.js"></script>
        <script src="angular/controllers/adminController.js"></script>


        <!-- Bootstrap -->
        <script src="js/bootstrap.min.js"></script>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/bootstrap-theme.min.css" rel="stylesheet">

        <!--TimeDatePicker-->
        <script src="js/timepicker/moment-with-langs.js"></script>
        <script src="js/timepicker/bootstrap-datetimepicker.js"></script>
        <link href="js/timepicker/datepicker3.css" rel="stylesheet">
        
        <!-- Angular loading bar -->
        <script src="js/node_modules/angular-loading-bar/build/loading-bar.js"></script>
        <link href="js/node_modules/angular-loading-bar/build/loading-bar.css" rel="stylesheet">

        <!--Bootstrap tooltip-->
        <script type="text/javascript">
            $(function() {
                $("[data-toggle='tooltip']").tooltip();
            });
        </script>

        <!--        Security-->
        <script src="angular/angular-cookies-1.2.3.js"></script>
        <script src="angular/config.js"></script>
    </head>
    <body>

        <!-- Navigationbar -->
        <div class="navbar navbar-default navbar-static-top"> 
            <div class="container">

                <a href="#!" class="navbar-brand">F/NLF Avviksrapportering</a>
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                    <span class= "icon-bar"></span>
                    <span class= "icon-bar"></span>
                    <span class= "icon-bar"></span>
                </button>

                <div class="collapse navbar-collapse navHeaderCollapse">



                    <!--Log in form-->
                    <div class="navbar-collapse navbar-right"  ng-controller="MainController">
                        <div class="navbar-form" role="form" ng-hide="hasRole('user')" ng-submit="login()" ng-controller="LoginController">
                            <form class="navbar-form ">
                                <div class="form-group">
                                    <input type="text" ng-model="username" placeholder="Medlemsnummer/brukernavn" class="form-control">
                                </div> 
                                <div class="form-group">
                                    <input type="password" ng-model="password" placeholder="Nøkkel/passord" class="form-control">
                                </div>
                                <input type="checkbox" ng-model="rememberMe"> Husk meg
                                <input type="submit" value="Logg inn" class="btn btn-primary" ng-click="login()"/>
                            </form>

                        </div><!--End log in form-->

                        <!--Menu visible to authorized users-->
                        <div ng-show="hasRole('user')" class="collapse navbar-collapse navHeaderCollapse">
                            <div class="btn-group">
                                <!--Buttons visible for admin users-->
                                <div class="btn-group" ng-show="hasRole('user')">

                                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></button>
                                    <ul class="dropdown-menu">
                                        <li><a class="btn btn-link" ng-click="goToPage('/admin/clubs')">Klubber</a></li>
                                        <li><a class="btn btn-link" ng-click="goToPage('/admin/locations')">Steder</a></li>
                                        <li><a class="btn btn-link" ng-click="goToPage('/admin/licenses')">Lisenser</a></li>
                                        <li class="divider"></li>
                                        <li><a class="btn btn-link"  ng-click="goToPage('/admin/incidentTypes')">Hendelsestyper</a></li>
                                        <li><a class="btn btn-link" ng-click="goToPage('/admin/jumpTypes')">Hopptyper</a></li>
                                        <li class="divider"></li>
                                        <li><a class="btn btn-link" ng-click="goToPage('/admin/gear')">Utstyr</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="btn-group">
                                <!--Buttons visible for HI users and above-->
                                <span class="btn-group" ng-show="hasRole('user')">
                                    <a class="btn btn-default" ng-click="goToPage('/hi')">Les rapporter</a>
                                </span>
                                <!--Buttons visible for HL users and above-->
                                <span class="btn-group" ng-show="hasRole('user')">
                                    <a class="btn btn-default" ng-click="goToPage('/report/1')">Rapporter avvik</a>
                                    <!--                                <button class="btn btn-default">HL</button>-->
                                </span>
                            </div>
                            <a ng-click="logout()" class="btn btn-default" ng-show="hasRole('user')">Logg ut, {{user.name}}</a>
                        </div>
                    </div><!--End menu for authorized users-->  
                </div>

            </div>
        </div>
        <!-- END OF Navigationbar -->

        <!--Contains data from /pages appears in ng-view-->      
        <div class="container-fluid">
            <div class="panel panel-default">
                <div ng-view>

                </div>
            </div>
        </div>      

        <!--Footer-->
        <div class="panel-footer">
            <div class="container">
                <address>
                    <strong>Fallskjermseksjonen/Norges Luftsportforbund </strong> Møllergata 39, 0179 Oslo<br>
                    Telefon: 23 01 04 50 Epost: <a href="mailto:jan.wang@nlf.no">jan.wang@nlf.no</a>
                </address>
            </div>
        </div><!--End footer-->
    </body>
</html>
