<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" id="ng-app" ng-app="main">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>F/NLF - Elektroniske tjenester</title>


    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap-css-only/css/bootstrap.css"/>
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css"/>
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="bower_components/ui-select/dist/select.css"/>
    <link rel="stylesheet" href="bower_components/ng-table/dist/ng-table.min.css"/>
    <link rel="stylesheet" href="bower_components/bootstrap-additions/dist/bootstrap-additions.css"/>
    <link rel="stylesheet" href="bower_components/angular-ui-bootstrap-datetimepicker/datetimepicker.css"/>
    <!-- endbower -->
    <link href="/static/css/app.css" rel="stylesheet">



    <!-- Angled navbar -->
    <link href="/static/js/angled/angled-navbar.css" rel="stylesheet">


    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/ui-select/dist/select.js"></script>
    <script src="bower_components/ng-table/dist/ng-table.min.js"></script>
    <script src="bower_components/ngmap/build/scripts/ng-map.js"></script>
    <script src="bower_components/angy-auth2/lib/http-auth-interceptor.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
    <script src="bower_components/ng-file-upload-shim/ng-file-upload-shim.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <script src="bower_components/angular-ui-bootstrap-datetimepicker/datetimepicker.js"></script>
    <!-- endbower -->


    <!-- Config -->
    <script src="/config.js"></script>

    <!-- shared services -->
    <script src="/shared/services/app.js?v050"></script>
    <script src="/shared/services/Functions.js?v050"></script>
    <script src="/shared/services/RestService.js?v050"></script>
    <script src="/shared/services/Definitions.js?v050"></script>
    <script src="/shared/services/Appswitcher.js?v050"></script>

    <!-- Angled navbar -->
    <script src="/static/js/angled/angled-navbar.js"></script>
    <!-- APP -->
    <script src="app.js" type="text/javascript"></script>

    <!-- Auth -->
    <script src="/shared/auth/loginServices.js"></script>

</head>
<body class="ng-cloak" ng-cloak>

<!-- Navigationbar -->
<angled-navbar menus="nav.menus" appswitcher="nav.appswitcher" search="false" inverse="false" brand="nav.brand" affixed="top"
               loggedin="currentUserSignedIn" toolbar="nav.toolbar"></angled-navbar>
<!-- END OF Navigationbar -->
<!-- Wrap page content to have bar at bottom! -->
<div id="wrap">
    <div class="container">

        <div class="alert alert-info" role="alert" ng-show="error&&currentUserSignedIn">{{error}}</div>

        <div ng-if="!currentUserSignedIn">
            <style>
                #loading-bar, #loading-bar-spinner {display:none;}
            </style>
        </div>

        <div ng-hide="currentUserSignedIn">
            <fnlf-login></fnlf-login>

        </div>


        <div ng-if="currentUserSignedIn" class="ng-cloak" ng-cloak ng-controller="mainController">

            <div class="col-md-3 col-xs-12">
                <p>
                    <a href="app/obs/" class="btn btn-primary btn-block btn-lg"><i class="fa fa-eye fa-fw"></i>
                        Observasjonsregistrering</a>
                </p>

                <div class="clearfix"></div>
                <p>
                    <a href="app/profile/" class="btn btn-primary btn-block btn-lg"><i class="fa fa-user fa-fw"></i>
                        Profil</a>
                </p>

                <div class="clearfix"></div>
                <!-- 			<p> -->
                <!-- 				<a href="app/club/" class="btn btn-warning btn-block"><i class="fa fa-group fa-fw"></i> Klubb</a> -->
                <!-- 			</p> -->
            </div>

            <div class="col-md-9 col-xs-12">
                <div class="jumbotron">
                    <h1>ORS</h1>

                    <p class="hidden-xs">Velkommen til Observasjonsregistreringssystemet (ORS)</p>

                    <p class="visible-xs">Velkommen til Observasjons-registrerings-systemet (ORS)</p>

                    <p>Systemet dekker alt fra rapporteringspliktige hendelser til erfaringsdeling og beste praksis.</p>

                    <p>Vår sikkerhet er helt avhengig av ORS som skal gi oss statistisk grunnlag til å kunne handle
                        proaktivt. Alle med gyldig medlemskap og lisens har tilgang til systemet.
                    </p>


                    <p>
                        <a class="btn btn-primary btn-lg" ng-href="/app/obs" role="button"><i
                                class="fa fa-eye fa-fw"></i> Observasjonsregistrering</a>
                    </p>


                </div>
                <p class="hidden-xs">
                    Er dette første gangen du logger inn, vennligst gå til <a ng-href="/app/profile">din profil</a> og
                    oppdater din informasjon.
                </p>

                <p class="hidden-xs">
                    For å utvikle systemet samtidig som det benyttes skarpt, er det etablert en <a
                        href="https://fnlfbeta.nlf.no" target="_blank">beta-versjon</a> for øvelse samt utprøving av ny
                    funksjonalitet.
                </p>
            </div>


        </div>
    </div>
    <div class="clearfix"></div>
    <div id="push"></div>
</div>
<!-- END PAGE WRAP -->

<!--Footer-->
<div id="footer">
    <div class="container">
        <address>
            <strong>Fallskjermseksjonen/Norges Luftsportforbund </strong> Møllergata 39, 0179 Oslo<br> Telefon: 23 01 04
            50 Epost: <a href="mailto:jan.wang@nlf.no">jan.wang@nlf.no</a>
        </address>
    </div>
</div>
<!--End footer-->

</body>
</html>