<div ng-controller="userController">

	<div ng-if="success" class="alert alert-success alert-dismissable">
		<a class="panel-close close" data-dismiss="alert">×</a> {{success}}
	</div>
	<div class="clearfix"></div>
	<!-- left column -->

	<div class="col-md-4 col-xs-12">
		<div ng-init="getAvatar()" class="well text-center">
			<!-- Imageupload directive boxxxy-->

			<img class="img-thumbnail img-responsive" ng-show="image" ng-src="{{image.resized.dataURL}}"/> <img
				class="img-thumbnail img-responsive" ng-show="avatar && !image" ng-src="{{avatar.dataURL}}"/>

			<div class="clearfix"></div>
			<button input-image append-data-uri resize resize-max-height="300" resize-max-width="250"
					resize-quality="0.9" ng-model="image" class="btn btn-primary btn-block"
					ng-change="upload(image.resized.dataURL)">
				<i class="fa fa-image fa-fw"></i> Velg profilbilde
			</button>
		</div>
	</div>
	<!-- edit form column -->

	<div class="col-md-8 col-xs-12">
		<div class="well">
			<h3>
				<i class="fa fa-wrench fa-fw"></i>
				<resolveuser ng-if="user.id" userid="user.id">{{user.id}}</resolveuser>
			</h3>
			<hr>

			<form class="form-horizontal" role="form">
				<div class="form-group">
					<label class="col-lg-3 control-label">Default klubb:</label>

					<div class="col-lg-8">
						<select class="form-control" ng-model="profile.settings.default_club"
								ng-options="club.id as club.name  for club in clubs"></select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-3 control-label">Totalt antall hopp:</label>

					<div class="col-lg-8">
						<input class="form-control" type="number" ng-model="profile.settings.total_jumps"/>
					</div>
				</div>

				<div>

					<div class="form-group">
						<label class="col-lg-3 control-label">Type hovedskjerm</label>

						<div class="col-lg-8">
							<input type="text" class="form-control"
								   ng-model="profile.settings.gear.mainCanopyType">
						</div>

					</div>

					<div class="form-group">
						<label class="col-lg-3 control-label">Størrelse på hovedskjerm</label>

						<div class="col-lg-8">
							<input type="number" class="form-control" id="mainCanopySize"
								   ng-model="profile.settings.gear.mainCanopySize"
								   placeholder="Hovedskjermstørrelse">
						</div>

					</div>

					<div class="form-group">
						<label class="col-lg-3 control-label">Antall hopp på denne hovedskjermen</label>

						<div class="col-lg-8">
							<input type="number" class="form-control" id="mainCanopyExperience"
								   ng-model="profile.settings.gear.mainCanopyExperience"
								   placeholder="Erfaring hovedskjerm">
						</div>
					</div>


					<div class="form-group">
						<label class="col-lg-3 control-label" title="Reserveskjerm">Type reserveskjerm</label>

						<div class="col-lg-8">
							<input type="text" class="form-control"
								   ng-model="profile.settings.gear.reserveCanopyType">
						</div>

					</div>
					<div class="form-group">
						<label class="col-lg-3 control-label">Størrelse på reserveskjerm</label>

						<div class="col-lg-8">
							<input type="number" class="form-control" id="reserveCanopySize"
								   ng-model="profile.settings.gear.reserveCanopySize"
								   placeholder="Reserveskjermstørrelse">
						</div>

					</div>

					<div class="form-group">
						<label class="col-lg-3 control-label">Type seletøy</label>

						<div class="col-lg-8">
							<input type="text" class="form-control"
								   ng-model="profile.settings.gear.harnessType">
						</div>

					</div>

					<div class="form-group">
						<label class="col-lg-3 control-label">Antall hopp på dette seletøyet</label>

						<div class="col-lg-8">
							<input type="number" class="form-control" id="harnessExperience"
								   ng-model="profile.settings.gear.harnessExperience"
								   placeholder="Erfaring seletøy">
						</div>

					</div>
					<div class="form-group">
						<label class="col-lg-3 control-label">Type nødåpner</label>

						<div class="col-lg-8">
							<input type="text" class="form-control" ng-model="profile.settings.gear.aadType"
								   noun="Type nødåpner" group="aadType" placeholder="Type nødåpner">
						</div>
					</div>

				</div>

				<button ng-click="saveUser()" class="btn btn-primary btn-block">
					<i class="fa fa-save fa-fw"></i> Save
				</button>
			</form>
		</div>
		<div class="col-xs-6">
			<h3>Roller</h3>
			<dl ng-repeat="role in roles">
				<dt>{{role.name}}</dt>
				<dd>{{role.description}}</dd>
			</dl>
		</div>
		<div class="col-xs-6">
			<h3>Grupper</h3>
			<dl ng-repeat="group in groups">
				<dt>{{group.name}}</dt>
				<dd>{{group.description}}</dd>
			</dl>
		</div>
	</div>
</div>