<!-- Fnlf Beta style -->
<style>
/* Fnlf Beta only */
.navbar-brand:after
{	color: #FF3333;
	font-weight: bold;
    content: " Beta!";
}
.navbar {
	border-bottom: 1px solid #FF3333;
}
</style>
<!-- End beta style -->
<nav class="navbar navbar-fixed-top" ng-class="{'navbar-inverse': inverse,'navbar-default': !inverse,'navbar-static-top': affixed == 'top','navbar-static-bottom': affixed == 'bottom'}"
	role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" ng-click="navbarCollapsed = !navbarCollapsed">
				<span class="sr-only">Toggle Navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
			</button>
			<div>
				<ng-include ng-if="loggedin" src="'/shared/partials/applicationSwitcher.html'"></ng-include>
				<a class="navbar-brand" ng-href="#!/" ng-bind-html="haveBranding()">FNLF</a>
			</div>
		</div>
		<div class="collapse navbar-collapse navbar-right" collapse="!navbarCollapsed" id="navbar-menu" ng-if="hasMenus() || toolbar">
			<span><ul class="nav navbar-nav">
				<li ng-repeat="btn in toolbar" class="navbar-left pull-left">
					<button ng-if="btn.text||btn.icon" tooltip="{{btn.tooltip}}" class="btn navbar-btn btn-sm btn-{{btn.btn_class}}" ng-disabled="btn.disabled()" ng-click="btn.onclick()" tooltip-placement="bottom">
						<i class="fa fa-{{btn.icon}} fa-fw"></i>{{btn.text}}
					</button>&nbsp;
				</li>
				<li ng-repeat="menu in menus" ng-class="{true: 'dropdown'}[hasDropdownMenu(menu)]" dropdown>
				<a ng-if="!hasDropdownMenu(menu)" ng-href="{{menu.link}}" ng-click="navAction(menu.action)"><i class="fa fa-fw fa-text-o" ng-class="menu.icon"></i> {{menu.title}}</a> 
					<a ng-if="hasDropdownMenu(menu)" class="dropdown-toggle" dropdown-toggle>{{menu.title}} <b class="caret"></b></a>
					<ul ng-if="hasDropdownMenu(menu)" class="dropdown-menu">
						<li ng-repeat="item in menu.menu" ng-class="{true: 'divider'}[isDivider(item)]">
							<a ng-if="!isDivider(item)" ng-href="{{item.action}}" ng-bind-html="item.title">{{item.title}}</a>
						</li>
					</ul>
				</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
				<li ng-show="loggedin">
					<a ng-href="/"><i class="fa fa-home fa-fw"></i> Hjem</a>
				</li>
				<li ng-show="loggedin">
					<fnlf-logout></fnlf-logout>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<form ng-if="nav.search.show" class="navbar-form navbar-right" role="search">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Search" ng-model="search.terms">
						<button class="btn btn-default" type="button" ng-click="searchfn()">
							<span class="fa fa-search fa-fw"></span>
						</button>
					</div>
				</form>
			</ul>
			</span>
		</div>
	</div>
</nav>