<div>
	<accordion close-others="true">
		<accordion-group is-open="person.open" ng-repeat="person in observation.involved">

			<accordion-heading>
				<div>
					<span class="col-xs-1 glyphicon"
						  ng-class="{'glyphicon-chevron-up': person.open, 'glyphicon-chevron-down': !person.open}"></span>
					<involvedpersonsummary person="person"></involvedpersonsummary>

				</div>
			</accordion-heading>
			<div ng-if="person.open">
				<involvedperson person="person" jumptypes="jumptypes"
								licensesFromMelwin="licensesFromMelwin"></involvedperson>
			</div>
		</accordion-group>
	</accordion>

</div>
