<div class="form-group">
	<label class="control-label">Flagg</label>

	<inlinehelp>
		<h4>Luftfartshendelse</h4>

		<p>
			Skal dette rapporteres videre til LT/avinor? 
		</p>
		<h4>Forsikringssak</h4>

		<p>
			Er det eller vil det bli forsikringssak?
		</p>

	</inlinehelp>
	<br/>
	
	<div class="form-group">
		<div class="checkbox">
		<label>
	  		<input type="checkbox" ng-model="observation.flags.aviation"> Luftfartshendelse
		</label>
		</div>
		
		<div class="checkbox">
		<label>
	  		<input type="checkbox" ng-model="observation.flags.insurance"> Forsikringssak
		</label>
		</div>
	</div>

	<div class="radio" ng-repeat="flag in observationTypes">
		<label>
			<input ng-model="observation.type" tooltip-placement="right" tooltip="{{observationType.descr}}"
				   type="radio" name="observationType" ng-value="observationType.id"> {{observationType.name}}
		</label>
	</div>

</div>
