<div class="col-xs-12 col-md-12">
	<div class="alert alert-danger" role="alert" ng-show="share.error">{{share.error}}</div>
	<div class="alert alert-success" role="alert" ng-show="share.success">{{share.success}}</div>
	
	
	<ui-select multiple  ng-model="$parent.share.persons" theme="bootstrap" on-select="onSelect($item, $model)" on-remove="onRemove($item, $model)">
		<ui-select-match placeholder="Søk på navn eller medlemsnummer...">{{$item.fullname}}</ui-select-match>
		<ui-select-choices repeat="person in personsFromDb | filter:$select.search track by person.id"
						   refresh="getPersonsByName($select.search)" refresh-delay="300">
			{{person.fullname}} ({{person.id}})
		</ui-select-choices>
	</ui-select>
	
	
	<div class="form-group">
		<label for="comment">Kommentarer:</label>
		<textarea ng-model="$parent.share.comment" name="comment" class="form-control" rows="3" id="comment"></textarea>
	</div>

	<button class="btn btn-success" ng-click="shareObservation()"><i class="fa fa-envelope-o fa-fw"></i> Send</button>
	</p>
</div>
<div class="clearfix"></div>

