<div class="col-xs-12 col-md-12">
	<div class="alert alert-info" role="alert" ng-show="error">{{workflow_error}}</div>
	
	<p><strong>Tittel:</strong> {{observation.tags.join('/')}} <span class="label label-{{tt}}">{{btn_descr}}</span></p>
	<p><strong>Klubb:</strong> <resolveclub clubid="observation.club"></resolveclub></p>
	
	
	<div class="form-group">
		<label for="comment">Kommentarer:</label>
		<textarea tooltip-placement="top" tooltip="Legg inn relevante kommentarer for å endre status på observasjonen" ng-model="workflow.comment" name="comment" class="form-control" rows="3" id="comment"></textarea>
	</div>
	<p>
		Siste kommentar: <strong>{{observation.workflow.comment}}</strong> @ {{observation.workflow.last_transition | date:'yyyy-MM-dd HH:mm'}} av
		<resolveuser userid="observation.workflow.audit[0].u"></resolveuser>
	</p>

	<div ng-repeat="value in btns">
		<div ng-if="value.permission">
			<button tooltip-placement="top" tooltip="{{value.title}}" class="pull-{{value.side}} btn btn-{{value.btn_class}}" ng-click="workflowTransition(value.resource,workflow.comment)">
				<i class="fa fa-{{value.icon}} fa-fw"></i>{{value.action}}
			</button>
		</div>
	</div>
</div>
<div class="clearfix"></div>
<hr />

<h3>Audit trail:</h3>

<table ng-table="workflowAuditTrail" class="table table-condensed table-striped">
	<tr ng-repeat="w in observation.workflow.audit">
		<td data-title="'Dato'">{{w.t | date:'yyyy-MM-dd HH:mm'}}</td>
		<td data-title="'Komponent'">{{workflowActions[w.a]}}</td>
		<td data-title="'Av'"><resolveuser userid="w.u"></resolveuser></td>
		<td data-title="'Kommentar'"><span ng-bind-html="w.c | nl2br"></span></td>
	</tr>
</table>


<div class="clearfix"></div>