<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>F/NLF - Elektroniske Tjenester</title>


	<link href="lib/app.css" rel="stylesheet">

	<!-- Needs to be loaded at first , or do they?-->

	<title>F/NLF - Observasjonsrapportering</title>

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/angular/angular-loading-bar/loading-bar.min.css" rel="stylesheet">
	<link href="/angular/ui-select/select.min.css" rel="stylesheet">

	<link href="/css/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="/css/app.css" rel="stylesheet">

	<!--AngularJS-->
	<script src="/angular/angular.js"></script>
	<script src="/angular/angular-route.js"></script>
	<script src="/angular/http-auth-interceptor.js"></script>
	<script src="/reportingApp/app.js"></script>
	<script src="/reportingApp/routes.js"></script>
	<script src="/angular/ui-bootstrap/ui-bootstrap.min.js"></script>
	<script src="/angular/ui-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<script src="/angular/angular-loading-bar/loading-bar.min.js"></script>
	<script src="/angular/angular-cookies-1.2.3.js"></script>
	<script src="/angular/ui-select/select.min.js"></script>
	<script src="/angular/angular-sanitize.js"></script>

	<!-- Auth module -->
	<script src="app/main.js" type="text/javascript"></script>
	<script src="app/loginController.js" type="text/javascript"></script>
	<script src="app/loginServices.js" type="text/javascript"></script>
	<script src="app/content.js" type="text/javascript"></script>

</head>

<body ng-app="fnlf-auth" class="auth-demo-application waiting-for-angular">

<!-- The splash screen must be first -->
<div id="splash" ng-cloak>

</div>


<div id="initializing-panel"></div>

<div id="content-outer">


	<div id="loginbox">
		<div id="login-inner">

		</div>
		<div class="clear"></div>
	</div>
</div>

<fnlf-login></fnlf-login>

<div id="content" ng-controller="ContentController" ng-show="$root.currentUserSignedIn">

	<h1>HTTP Auth Interceptor Module Demo</h1>

	<h2>for AngularJS</h2>

	<h3>Enter some data and submit to send and access public data.</h3>

	<form ng-submit="publicAction()">
		Enter public data:
		<input type="text" ng-model="publicmember">
		<input type="submit" value="Submit">
	</form>
	<p ng-repeat="p in publicContent">Server says: {{p}}</p>

	<br/>
	<br/>

	<h3>Enter some data and submit to send and access protected data.</h3>

	<form ng-submit="restrictedAction()">
		Enter restricted data:
		<input type="text" ng-model="member">
		<input type="submit" value="Submit">
	</form>
	<p ng-repeat="r in restrictedContent">Server says: {{r}}</p>

	<br/>
	<br/>

	<h3>Press the button to log out.</h3>
	<input ng-controller="LoginController" type="button" value="Log out" ng-click="logout()">

	<p>
		The button will tell the server to forget about your session and also
		it will remove sensitive data from page.
	</p>

	<p>
		In real application it could do
		something else like:
	</p>
	<ul>
		<li>forcing login window to appear to hide data,</li>
		<li>reloading web page to purge application from received content or</li>
		<li>whatever you find appropriate...</li>
	</ul>

	<div class="clear">&nbsp;</div>

	<hr>
	<br>&nbsp;

</div>
</div>


</body>
</html>