<div class="container" ng-controller="ObservationController">
	<h1>Observasjonsrapport</h1>

	<div class="form-group">
		<observationtype observation="observation"></observationtype>
	</div>


	<div class="form-group">
		<clubselector observation="observation"></clubselector>
	</div>

	<div class="form-group">
		<locationselector observation="observation"></locationselector>
	</div>

	<!--Select date-->
	<div class="form-group">
		<observationdateselector observation="observation"></observationdateselector>
	</div>

	<!--Select date-->
	<div class="form-group">
		<involvedpersonselector observation="observation"></involvedpersonselector>
	</div>

	<div class="form-group">
		<involvedpersondetails observation="observation"></involvedpersondetails>
	</div>

	<div class="form-group">

		<incidentform observation="observation"></incidentform>

	</div>


	<div class="form-group">
		<summary observation="observation"></summary>
	</div>
</div>

