<div class="container" ng-controller="ObservationController">
	<h1>Observasjonsrapport #{{observation.id}}</h1>

	<h2>{{observation.title}}</h2>

	<h4>Versjon {{observation._version}}</h4>

	<div class="form-group col-md-12">
		<observationtype observation="observation"></observationtype>
	</div>

	<div class="form-group col-xs-12" ng-repeat="item in items">

		<div class="form-group col-xs-12">

			<button class="btn btn-default btn-lg" ng-click="item.used=!item.used">
				<span class="glyphicon glyphicon-plus"></span> {{item.label}}
			</button>

		</div>

		<div collapse="!item.used" ng-switch="item.type">
			<div ng-switch-when="location">
				<div class="form-group col-xs-12">
					<locationselector observation="observation"></locationselector>
				</div>
			</div>

			<div ng-switch-when="involved">
				<div class="form-group col-xs-12">
					<involvedpersonselector observation="observation"></involvedpersonselector>
				</div>
				<div class="form-group col-xs-12">
					<involvedpersondetails observation="observation"></involvedpersondetails>
				</div>
			</div>

			<div ng-switch-when="components">
				<div class="form-group col-xs-12">
					<incidentform observation="observation"></incidentform>
				</div>
			</div>

		</div>


	</div>





	<div class="form-group col-xs-12">
		<summary observation="observation"></summary>
	</div>

	<button class="btn btn-default" ng-click="saveObservation()">Lagre</button>

</div>

