<div ng-controller="IncidentDetailController">
     <h1>Administrer hendelsestyper</h1>
    <h3>Velg hendelsestype under, eller legg til ny</h3>
    <select ui-select2 data-placeholder="Velg hendelse" ng-model="incidentTypeToEditId" style="min-width: 300px;">
            <option value=""></option>
            <option ng-value="incidentType.id" ng-repeat="incidentType in incidentTypes">
                {{incidentType.name}} ({{incidentType.group}})
            </option>    
        </select><br>
         <a ng-click="newIncidentTypeButton()">Ny hendelse</a>
         <h3>{{addOrEditHeaderText}}</h3>
        <div>
            <br>
            <form role="form">
                <div class="form-group">
                    <label for="id">ID</label>
                    <span>{{incidentTypeToEdit.id}}</span>
                </div>
                <div class="form-group">
                    <label for="name">Navn på hendelse</label>
                    <input type="text" class="form-control" id="name" ng-model="incidentTypeToEdit.name" placeholder="Navn">
                </div>
                <div class="form-group">
                    <label for="group">Gruppe</label>
                    <input type="text" class="form-control" id="group" ng-model="incidentTypeToEdit.group" placeholder="Gruppe">
                </div>
                <div class="form-group">
                    <label for="description">Beskrivelse</label>
                    <input type="text" class="form-control" id="description" ng-model="incidentTypeToEdit.description" placeholder="Beskrivelse">
                </div>
                <div class="checkbox">
                    <label for="active">
                        <input id="active" type="checkbox" ng-model="incidentTypeToEdit.active"> <b>Aktiv?</b>
                    </label>
                </div>
                <button class="btn btn-primary" ng-click="saveChanges()">Lagre</button>       
                <a class="btn btn-danger" data-toggle="modal" data-target="#confirm-delete" href="#">Slett hendelsestype</a><br>
            </form>
        </div>
         
             <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Bekreft sletting
                </div>
                <div class="modal-body">
                    Ønsker du virkelig å slette "{{incidentTypeToEdit.name}}"?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Avbryt</button>
                    <a data-dismiss="modal" ng-click="deleteLocation()" class="btn btn-danger danger">Slett</a>
                </div>
            </div>
        </div>
    </div>
    
</div>