<script type="text/javascript">
    $('#manufacturers a').click(function(e) {
        e.preventDefault();
        $(this).tab('show');
    });
    $('#mainCanopies a').click(function(e) {
        e.preventDefault();
        $(this).tab('show');
    });
</script>

<div ng-controller="GearController">
    <div >
        <h1>Administrer utstyr</h1>
        <ul class="nav nav-pills">
            <li class="active"><a id="manufacturers" data-toggle="tab" ng-click="showManufacturersButton()">Produsenter</a></li>
            <li><a id="mainCanopies" data-toggle="tab" ng-click="showMainCanopiesButton()">Hovedskjermer</a></li>
            <li><a id="reserveCanopies" data-toggle="tab" ng-click="showReserveCanopiesButton()">Reserveskjermer</a></li>
            <li><a id="harnessContainers" data-toggle="tab" ng-click="showHarnessContainersButton()">Seletøy</a></li>
            <li><a id="aads" data-toggle="tab" ng-click="showAadsButton()">Nødåpnere</a></li>
        </ul>
        <div ng-show="showManufacturers">
            <h3>Administrer produsenter:</h3>
            <select ui-select2 data-placeholder="Velg produsent" ng-model="manufacturerToEditId.id" style="min-width: 300px;">
                <option value=""></option>
                <option ng-value="manufacturer.id" ng-repeat="manufacturer in manufacturers">
                    {{manufacturer.name}}
                </option>    
            </select><br>

            <a ng-click="newManufacturerButton()">Ny produsent</a>
            <h3>{{addOrEditHeaderText}}</h3>
            <div>
                <br>

                <form role="form">
                    <div class="form-group">
                        <label for="id">ID</label>
                        <span>{{manufacturerToEdit.id}}</span>
                    </div>
                    <div class="form-group">
                        <label for="name">Navn på produsent</label>
                        <input type="text" class="form-control" id="name" ng-model="manufacturerToEdit.name" placeholder="Navn">
                    </div>
                    <div class="form-group">
                        <label for="url">Webside</label>
                        <input type="text" class="form-control" id="url" ng-model="manufacturerToEdit.url" placeholder="Webside">
                    </div>
                    <div class="form-group">
                        <label for="phone">Telefon</label>
                        <input type="text" class="form-control" id="phone" ng-model="manufacturerToEdit.phone" placeholder="Telefon">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="manufacturerToEdit.active"> Aktiv
                        </label>
                    </div>  
                    <button class="btn btn-primary" ng-click="saveChanges()">{{addOrEditButtonText}}</button>
                </form>
            </div>
        </div>

        <br>
        <div ng-show="showMainCanopies">
            <br>
            <span>Søk: <input ng-model="searchText"></span>
            <table class="table table-hover">
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">Produsent</th>
                    <th class="text-center">Modell</th>
                    <th class="text-center">Størrelse</th>
                    <th class="text-center">Godkjent?</th>
                    <th class="text-center">Aktiv?</th>
                    <th></th>
                </tr>
                <tr ng-repeat="canopy in mainCanopies | filter:searchText" ng-click="editMainCanopy(canopy)">
                    <td class="text-center">{{canopy.id}}</td>
                    <td class="text-center">{{canopy.manufacturer.name}}</td>
                    <td class="text-center">{{canopy.name}}</td>
                    <td class="text-center">{{canopy.size}}</td>
                    <td class="text-center"><input disabled="disabled" type="checkbox" ng-model="canopy.nlfApproved"></td>
                    <td class="text-center"><input disabled="disabled" type="checkbox" ng-model="canopy.active"></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="text-center"></td>
                    <td class="text-center"><select ui-select2 data-placeholder="Velg produsent" ng-model="mainCanopyManufacturer.id" style="min-width: 300px;">
                            <option value=""></option>
                            <option ng-value="manufacturer.id" ng-repeat="manufacturer in manufacturers">
                                {{manufacturer.name}}
                            </option>    
                        </select></td>
                        <td class="text-center"><input type="text" ng-model="mainCanopyToEdit.name"></td>
                    <td class="text-center"><input type="text" ng-model="mainCanopyToEdit.size"></td>
                    <td class="text-center"><input type="checkbox" ng-model="mainCanopyToEdit.nlfApproved"></td>
                    <td class="text-center"><input type="checkbox" ng-model="mainCanopyToEdit.active"></td>
                    <td><button class="btn btn-sm btn-success">Lagre</button></td>
                </tr>
            </table>
            <br><br>
           ID:  {{mainCanopyManufacturer | json}}<br>
{{mainCanopyToEdit}}
        </div>

        <div ng-show="showReserveCanopies">
            Reserveskjermer
        </div>

        <div ng-show="showHarnessContainers">
            Seletøy
        </div>

        <div ng-show="showAads">
            nødåpnere
        </div>

    </div>
</div>