<div ng-controller="AdminController"> 
    <table class="table table-hover">
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">Navn</th>
                <th class="text-center">Beskrivelse</th>
                <th class="text-center">Aktiv?</th>
            </tr>
            <tr ng-repeat="jumpType in jumpTypes" ng-click="editJumpType(jumpType)">
                    <td class="text-center">{{jumpType.id}}</td>
                    <td class="text-center">{{jumpType.name}}</td>
                    <td class="text-center">{{jumpType.description}}</td>
                    <td class="text-center"><input disabled="disabled" type="checkbox" ng-model="jumpType.active"></td> 
            </tr>
        </table>
    
        <a ng-click="newJumpTypeButton()">Tøm felter</a>
    <div>
        <br>
        <form role="form">
            <div class="form-group">
                <label for="id">ID</label>
                <span>{{jumpTypeToEdit.id}}</span>
            </div>
            <div class="form-group">
                <label for="name">Navn på hopptype</label>
                <input type="text" class="form-control" id="name" ng-model="jumpTypeToEdit.name" placeholder="Navn">
            </div>
            <div class="form-group">
                <label for="description">Beskrivelse</label>
                <input type="text" class="form-control" id="description" ng-model="jumpTypeToEdit.description" placeholder="Beskrivelse">
            </div>
            <div class="checkbox">
                <label for="active">
                    <input id="active" type="checkbox" ng-model="jumpTypeToEdit.active"> <b>Aktiv?</b>
                </label>
            </div>
            <button class="btn btn-primary" ng-click="saveLocation()">{{addOrEditLocationText}}</button>
            <a class="btn btn-danger" data-toggle="modal" data-target="#confirm-delete" href="#">Slett lokasjon</a><br>
        </form>
    </div>

    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Bekreft sletting
                </div>
                <div class="modal-body">
                    Ønsker du virkelig å slette {{jumpTypeToEdit.name}}?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Avbryt</button>
                    <a data-dismiss="modal" ng-click="deleteJumpType()" class="btn btn-danger danger">Slett</a>
                </div>
            </div>
        </div>
    </div>   
</div>