<span>

	<span class="label label-info" ng-if="::attributes.reserve_ride"><flag attribute="reserve_ride">Reserve benyttet</flag></span>
	<span class="label label-warning" ng-if="::attributes.aad_fire"><flag attribute="aad_fire">Nødåpner fyrt</flag></span>
	<span class="label label-default" ng-if="::attributes.packing_error"><flag attribute="packing_error">Pakkefeil</flag></span>
	<span class="label label-default" ng-if="::attributes.gear_malfunction"><flag attribute="gear_malfunction">Feilfunksjon</flag></span>
	<span class="label label-default" ng-if="::attributes.damage"><flag attribute="damage">Matriell skade</flag></span>
	<span class="label label-default" ng-if="::attributes.gear_failure"><flag attribute="gear_failure">Utstyrsvikt</flag></span>
	<span class="label label-warning" ng-if="::attributes.gear_error"><flag attribute="gear_error">MK/MR Feil</flag></span>
	<span class="label label-default" ng-if="::attributes.violation"><flag attribute="violation">Regelbrudd</flag></span>
	<span class="label label-danger" ng-if="::attributes.wilfull"><flag attribute="wilfull">Med vilje</flag></span>
	<span class="label label-warning" ng-if="::attributes.injury"><flag attribute="injury">Personskade</flag></span>
	<span class="label label-warning" ng-if="::attributes.death"><flag attribute="death">Død</flag></span>

</span>