<div>


	<div class=" col-md-8 col-xs-12">

			<label>
				<resolveclub ng-if="default_club" clubid="default_club">{{default_club}}</resolveclub>
			</label>
			<hr>

	</div>

	<div ng-if="default_club" ng-init="getClubLocations()">


		<div class="col-xs-12">
			<map center="{{coords}}" zoom="{{zoom}}"  >

				<marker ng-if="loc"
						position="{{loc.geo.coordinates}}"
						title="{{loc.name}}"
						draggable="true"
						visible="true"
						on-dragend="dragMarker(loc)"
						on-click="clickRedMarker(loc)"
						></marker>

				<marker ng-repeat="location in clubLocations track by $index"
						position="{{location.geo.coordinates}}"
						title="{{location.name}}"
						draggable="false"
						icon="http://maps.google.com/mapfiles/marker_white.png"
						visible="true"
						on-click="clickMarker(location)"
						></marker>


			</map>
		</div>
<div class="clearfix"></div>

		<div class="col-xs-12"></div>
		<table class="table table-striped table-hover">
			<tr>
				<th>Navn</th>
				<th>Koordinater</th>
				<th>Stednavn</th>
			</tr>
			<tr>
				<td>
					<input type="text" ng-model="loc.nickname" class="form-control">
				</td>
				<td>
					{{loc.geo.coordinates}}
				</td>
				<td>
					{{loc.name}}
				</td>
				<td>
					<button class="btn btn-default" ng-click="removeLocation(loc)">Slett {{loc.nickname}}</button>
				</td>

			</tr>

		</table>



		<p>
			<button class="btn btn-success" ng-click="saveClubLocations()"><span class="fa fa-save"></span> Lagre endringer</button>
		</p>


		<table  class="table table-striped table-hover">
			<tr>
				<th>Navn</th>
				<th>Stednavn</th>
			</tr>
				<tr ng-click="rowClicked(location)" ng-repeat="location in clubLocations">
				<td>
						{{location.nickname}}
				</td>

				<td>
					{{location.name}} {{location.geo_type}} <small>{{location.geo.coordinates}}</small>
				</td>

			</tr>

		</table>
	</div>
</div>