<div>
	<div class="col-xs-12 col-md-12 air row">
	<h2>
		<span ng-if="component.flags.incident" class="label label-info">Hendelse</span>
		<span ng-if="component.flags.cause || component.flags.root_cause" class="label label-warning">Årsak</span>
		<span ng-if="component.flags.consequence || component.flags.final_consequence" class="label label-danger">Konsekvens</span>
		<label class="btn btn-default" btn-checkbox ng-disabled="!acl.w" ng-model="component.flags.barrier">
			 Barriære
		</label>
	</h2>
		<h3>
			{{component.what}}
		</h3>
	</div>
	<div class="col-xs-12 air row">

		<div class="air row">
			<div class="form-group">
				<div class="col-xs-12">
					<inlinehelp title="Sted eller situasjon">Fyll ut denne slik at det blir mulig å se fellestrekk over tid hvor ting typisk skjer</inlinehelp>
				</div>
				<div class="col-xs-12 col-md-8 col-lg-4 air">
					<tagtypeahead acl="acl" model="component.where.at" group="where-at" noun="på/i"></tagtypeahead>
				</div>
				<div class="col-xs-12 col-md-4 col-lg-3 air">
					<input ng-disabled="!acl.w" type="number" ng-model="component.where.altitude" class="form-control" placeholder="Høyde over bakken i fot">
				</div>
			</div>
		</div>

	</div>

	<div>
		<div class="col-xs-12 air row">
			<div class="form-group">
				<br>
				<inlinehelp title="Flagg">Bruk flagg slik at det blir lett å lage god statistikk</inlinehelp>
				<flagseditor acl="acl" attributes="component.attributes"></flagseditor>
			</div>
			<br>
		</div>

		<div class="col-xs-12 air row" ng-if="persons.length>1">
			<div class="form-group">
				<inlinehelp title="Involvert">Personer som var involvert i akkurat denne komponenten i forløpet</inlinehelp>

				<div class="form-group">
					<div ng-repeat="person in persons track by person.id" class="col-xs-6 col-md-3">
						<input ng-disabled="!acl.w" ng-model="involved[person.id]" type="checkbox" ng-change="involvedChanged(person)">
						<resolveuser userid="person.id" tmpname="person.tmpname"></resolveuser>
					</div>
				</div>
			</div>
		</div>

		<div class="clearfix"></div>

		<div class="col-xs-12 air row">
			<div class="form-group">
				<inlinehelp title="Hvordan (Fritekst)"> Kort tekst som forklarer komponenten. Bruk heller flagg, tagger eller flere komponenter enn å skrive mye her. Viss du kun skriver her vil aldri kunne lage fornuftig statistikk av observasjonen din.</inlinehelp> </label>
				<textarea ng-disabled="!acl.w" type="text" rows="4" maxlength="300" ng-model="component.how" class="form-control" ng-focus="howTextClicked=true"></textarea>
				<span class="label label-info" ng-show="howTextClicked && component.how.length > 10">{{(300 - component.how.length)}} tegn igjen</span>&nbsp;

				<span class="label label-danger" ng-show="howTextClicked && component.how.length > 120">Legg gjerne til flere komponenter i stedet for å skrive alt som skjedde her</span>
			</div>
		</div>

		<div class="clearfix"></div>

	</div>
	<div class="clearfix"></div>

</div>
<div class="clearfix"></div>
