<span ng-init="order=0"> 

    <small>
        <span ng-if="component.flags.barrier" class="label label-default">Barriære</span>
        <span ng-if="component.flags.incident" class="label label-info">Hendelse</span>
        <span ng-if="component.flags.cause || component.flags.root_cause" class="label label-warning">Årsak</span>
        <span ng-if="component.flags.consequence || component.flags.final_consequence" class="label label-danger">Konsekvens</span>
    </small>
    <strong>{{component.what}} </strong>
    <flags class="hidden-xs" attributes="component.attributes"></flags>

	<span ng-show="component.where.at">({{component.where.at}})</span> <span ng-show="!component.where.at"><i>(på/i ikke angitt)</i></span>

    <small ng-if="component.how"><br>{{component.how}}</small>
	<span class="hidden-xs" ng-if="component.tags.length > 0" class="label label-default">{{component.tags.join(', ')}}</span>&nbsp;
	<observation-hfk-selector class="hidden-xs" model="component.ask"></observation-hfk-selector>
	<br>
</span>
