<div ng-init="addComponentIfEmpty()">

	<div>
		<div class="">
			<label>Hva slags {{observationTypeName}} ønsker du å beskrive?</label>
			<div class="well">
				<p>
					Begynn med å fylle inn et par ord om hva slags {{observationTypeName}} som gjorde at du nå er inne i dette systemet. Bruk gjerne forslagene som kommer opp.
					Etterpå kan du legge inn årsaken til det som skjedde, og så årsaken til årsaken (osv) helt tilbake til rotårsaken.

				</p>
				<p>
					Målet er å bygge opp kjeden av årsaker som ledet frem til den konkrete hendelsen som du ønsker registrere her.
					På den måten ønsker vi som organisasjon å kunne forstå årsakssammenhenger og kunne lære av denne og lignende tilfeller.
				</p>
			</div>


		</div>

		<div class="clearfix"></div>
			<button ng-disabled="!acl.w" ng-show="observation.components.length>0" type="button" class="btn btn-warning btn-block" ng-click="newCause(-1)">
				<span class="fa fa-fw fa-plus"></span> Ny årsak
			</button>
			<p></p>

	</div>
	<div>

			
			<div is-open="component.open" ng-repeat="component in observation.components | orderBy:'order' track by $index">

				<!-- Heding -->
					
					<div>
						<div ng-if="acl.w">
							<i title="Slett komponent" ng-click="deleteComponent(component)" class="fa fa-fw fa-trash-o pull-right">&nbsp;&nbsp;</i>
							<i title="Flytt ned" ng-click="incrementOrder(component)" class="fa fa-fw fa-angle-down pull-right"></i>
				            <i title="Flytt opp" ng-click="decrementOrder(component)" class="fa fa-fw fa-angle-up pull-right"></i>
			            </div>
			            
						<i ng-click="toggleComponent(component)" class="fa fa-fw" ng-class="{'fa-minus-square-o': component.open, 'fa-plus-square-o': !component.open}"></i>
						<observation-component-summary component="component"></observation-component-summary>
						
					</div>
			            
				<!-- Heding -->
				
				<div ng-if="component.open">
					<observation-component acl="acl" component="component" observation="observation"></observation-component>
				</div>
			
			
		
		</div>

	</div>
	<div>
		<button ng-disabled="!acl.w" ng-show="observation.components.length==0" type="button" class="btn btn-primary btn-block" ng-click="newIncident()">
			<span class="fa fa-plus"></span> Ny {{observationTypeName}}
		</button>



		<button ng-disabled="!acl.w" ng-show="observation.components.length>0" type="button" class="btn btn-danger btn-block" ng-click="newConsequence()">
			<span class="fa fa-plus"></span> Ny konsekvens/sluttresultat
		</button>
	</div>


</div>
<div class="clearfix"></div>
