<span ng-init="order=0"> 

    <small>
        <span ng-if="component.flags.barrier" class="label label-default">Barriære</span>
        <span ng-if="component.flags.incident" class="label label-info">Hendelse</span>
        <span ng-if="component.flags.cause || component.flags.root_cause" class="label label-warning">Årsak</span>
        <span ng-if="component.flags.consequence || component.flags.final_consequence" class="label label-danger">Konsekvens</span>
    </small>
    <strong>{{component.what}} </strong>
    <flags attributes="component.attributes"></flags>

    <i>på/i</i>&nbsp; <strong>{{component.where.at}}</strong>  &nbsp;
    <observation-hfk-selector model="component.ask"></observation-hfk-selector>
    <small>{{component.how}} &nbsp;</small>

	<div class="clearfix"></div>

</span>
