<div>

	<style>

		.air{
			margin-bottom:16px;

		}

	</style>

	<div class="col-xs-12 col-md-12">
	<h1>

		<span ng-if="component.flags.barrier" class="label label-default">Barriære</span>
		<span ng-if="component.flags.incident" class="label label-info">Hendelse</span>
		<span ng-if="component.flags.cause || component.flags.root_cause" class="label label-warning">Årsak</span>
		<span ng-if="component.flags.consequence || component.flags.final_consequence" class="label label-danger">Konsekvens</span>
		{{component.what}}
	</h1>


	</div>
	<div class="col-xs-12"></div>

	<div class="aside-full-width-on-sm">


		<div class="col-xs-12 air">
			<div class="form-group">
				<br>
				<inlinehelp title="Flagg">Bruk flagg slik at det blir lett å lage god statistikk</inlinehelp>
				<flagseditor acl="acl" attributes="component.attributes"></flagseditor>
			</div>
			<br>
		</div>

		<div class="col-xs-12 col-md-6 col-lg-4 air">
			<div class="form-group">
				<inlinehelp title="Involvert">Personer som var involvert i akkurat denne komponenten i forløpet</inlinehelp>
				<ui-select ng-disabled="!acl.w" multiple ng-model="component.involved" theme="bootstrap"> <ui-select-match placeholder="Velg blant involverte personer..."><resolveuser userid="$item.id" tmpname="$item.tmpname"></resolveuser></ui-select-match>
					<ui-select-choices repeat="person in persons track by person.id"> {{person.fullname}} </ui-select-choices> </ui-select>
			</div>
		</div>

		<div class="col-xs-8 col-md-4 col-lg-3 air">
			<div class="form-group">
				<inlinehelp title="Sted eller situasjon">Fyll ut denne slik at det blir mulig å se fellestrekk over tid hvor ting typisk skjer</inlinehelp>
				<tagtypeahead acl="acl" model="component.where.at" group="where-at" noun="på/i"></tagtypeahead>
			</div>
		</div>

		<div class="col-xs-4 col-md-2 air">
			<div class="form-group">
				<inlinehelp title="Høyde i fot">Høyde over bakken der dette er relevant</inlinehelp>
				<input ng-disabled="!acl.w" type="number" ng-model="component.where.altitude" class="form-control" placeholder="Høyde over bakken i fot">
			</div>
		</div>

		<div class="clearfix"></div>


		<div class="col-xs-12 col-md-6 col-lg-7 air">
			<div class="form-group">
				<inlinehelp title="Søketagger">Søketagger kan vere alt mulig som kan relateres til denne delen av observasjonen. Gjerne faktorer, karakteristikker, særtrekk, fellestrekk osv.
					Det viktigste i friteksten bør vere utrykt i form av tagger.
				</inlinehelp>

				<small ng-if="autoTags">Taggeforslag: <span ng-repeat="t in autoTags"> <a ng-click="addAutoTag(t)">{{t}} </a></span> </small>

				<tagging acl="acl" model="component.tags" group="component" noun="Søketagger"></tagging>



			</div>
		</div>

		<div class="col-xs-12 air">
			<div class="form-group">
				<inlinehelp title="Hvordan (Fritekst)"> Kort tekst som forklarer komponenten. Bruk heller flagg, tagger eller flere komponenter enn å skrive mye her. Viss du kun skriver her vil aldri kunne lage fornuftig statistikk av observasjonen din.</inlinehelp> </label>
				<textarea ng-disabled="!acl.w" type="text" rows="4" maxlength="160" ng-model="component.how" class="form-control" ng-focus="howTextClicked=true"></textarea>
				<span class="label label-info" ng-show="howTextClicked && component.how.length > 10">{{(160 - component.how.length)}} tegn igjen</span>&nbsp;
				<span class="label label-warning" ng-show="howTextClicked && component.how.length > 80">Legg gjerne til de viktigste nøkkel-ordene i teksten som tagger</span>&nbsp;
				<span class="label label-danger" ng-show="howTextClicked && component.how.length > 120">Legg gjerne til flere komponenter i stedet for å skrive alt som skjedde her</span>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="col-xs-12"></div>


		<div class="form-group col-xs-12">
			<!--
			<button ng-disabled="!acl.w" type="button" class="btn btn-warning" ng-click="newCause(component.order)"><i class="fa fa-fw fa-plus"></i> Hvorfor skjedde dette? Ny årsak</button>
			&nbsp;&nbsp;
			<button ng-disabled="!acl.w" type="button" class="btn btn-info" ng-click="incrementOrder(component)"><i class="fa fa-fw fa-chevron-down"></i>Flytt ned</button>
			<button ng-disabled="!acl.w" type="button" class="btn btn-info" ng-click="decrementOrder(component)"><i class="fa fa-fw fa-chevron-up"></i>Flytt opp</button>
			-->
			<span>&nbsp;</span>

			<button ng-disabled="!acl.w" type="button" class="btn btn-info" ng-click="deleteComponent(component)"> <i class="fa fa-fw fa-trash-o"></i> Slett komponent</button>
		</div>

	</div>
	<div class="clearfix"></div>

</div>
<div class="clearfix"></div>
