<div>
		<div ng-if="acl.w && observation.components.length > 0" class="air2">

				<observation-component-summary-new-cause acl="acl" involved="observation.involved" components="observation.components"></observation-component-summary-new-cause>

		</div>
		<div ng-if="acl.w && hasNoIncident()">

				<observation-component-summary-new-incident involved="observation.involved" observation-title="observation.tags[0]" acl="acl" components="observation.components"></observation-component-summary-new-incident>

		</div>

		<div ng-repeat="component in observation.components | orderBy:'order'" class="air2">

				<observation-component-summary acl="acl" involved="observation.involved" components="observation.components" component="component"></observation-component-summary>

		</div>
		<div ng-if="acl.w && observation.components.length > 0">

				<observation-component-summary-new-consequence acl="acl" involved="observation.involved" components="observation.components"></observation-component-summary-new-consequence>
			
		</div>

</div>