<div ng-init="order=0" class="row air">

	<div class="col-xs-12 col-lg-1">

		<span>
		<span ng-if="component.flags.incident" class="label label-info">Hendelse</span>
		<span ng-if="component.flags.cause || component.flags.root_cause"
			  class="label label-warning">Årsak</span>
		<span ng-if="component.flags.consequence || component.flags.final_consequence"
			  class="label label-danger">Konsekvens</span>
		<span ng-if="component.flags.barrier" class="label label-default">Barriære</span>
		</span>

	</div>

	<div class="col-xs-12 col-md-6 col-lg-5">
		<form>
			<div class="form-group">
				<div class="input-group">

					<tagtypeahead acl="acl" ng-if="component.flags.root_cause || component.flags.cause"
								  selectfn="componentWhatSelected" model="component.what" group="component.what.cause"
								  noun="Beskriv årsak"></tagtypeahead>
					<tagtypeahead acl="acl" ng-if="component.flags.final_consequence||component.flags.consequence"
								  selectfn="componentWhatSelected" model="component.what"
								  group="component.what.consequence" noun="Beskriv konsekvens"></tagtypeahead>
					<tagtypeahead acl="acl" ng-if="incidentOrElse(component.flags)" selectfn="componentWhatSelected"
								  model="component.what" group="component.what.incident"
								  noun="Beskriv selve hendelsen"></tagtypeahead>
						<span class="input-group-btn">
							<button component.what.length==0" class="btn btn-default"
									type="submit" ng-click="editComponent(component)" title="{{buttonLabel}}">
								<i class="fa fa-{{buttonIcon}} fa-fw"></i>
							</button>
						</span>
				</div>
			</div>
		</form>
	</div>

	<div class="col-xs-12 col-md-2">
		<form>
			<div class="form-group">
				<div class="input-group">


						<span class="input-group-btn">
							<button class="btn btn-default" ng-if="templateMode=='component'" ng-disabled="!(canDown())" ng-click="moveDown()"><i class="fa fa-angle-double-down" ></i></button>
							<button class="btn btn-default" ng-if="templateMode=='component'" ng-disabled="!(canUp())" ng-click="moveUp()"><i class="fa fa-angle-double-up" ></i></button>
							<button class="btn btn-default" ng-if="templateMode=='component'" ng-disabled="!(canTrash())" ng-click="trash()"><i class="fa fa-trash" ></i></button>
						</span>
				</div>
			</div>
		</form>
	</div>

	<div class="col-xs-12 col-md-4" ng-if="templateMode=='component'">
		<flags attributes="component.attributes"></flags>

		<span ng-show="component.where.at">({{component.where.at}})</span> <span ng-show="!component.where.at"><i>(på/i
		ikke angitt)</i></span>&nbsp;
		<span ng-show="component.where.altitude">({{component.where.altitude}} fot)</span>

		<small ng-if="component.how"><br>{{component.how}}</small>

	</div>
</div>
