
<!-- The application switcher -->
<ul class="nav navbar-nav hidden-xs">

	<li class="dropdown" dropdown>
		<a ng-href="#!" class="dropdown-toggle" dropdown-toggle><i class="fa fa-navicon fa-fw"></i> </a>
		
		<ul class="dropdown-menu" role="menu">
			<li><a ng-href="/">F/NLF forside</a></li>
			<li class="divider" role="presentation"></li>
			<li><a ng-href="/app/obs/">ORS</a></li>
			<li class="divider" role="presentation"></li>
			<li><a ng-href="/app/profile/">Profil</a></li>
		</ul>
		
	</li>
</ul>