
<!-- The application switcher -->
<ul class="nav navbar-nav hidden-xs">

	<li class="dropdown">
		<a href="#" class="dropdown-toggle"><i class="fa fa-navicon fa-fw"></i> </a>
		
		<ul class="dropdown-menu" role="menu">
			<li><a href="/">F/NLF forside</a></li>
			<li class="divider" role="presentation"></li>
			<li><a href="/app/reporting/">Observasjonsrapportering</a></li>
			<li><a href="/app/profile/">Profil</a></li>
			<li><a href="#">Applikasjon</a></li>
			<li class="divider" role="presentation"></li>
			<li><a href="#">Applikasjon</a></li>
		</ul>
		
	</li>
</ul>