
<div class="" ng-controller="MainController">
	<div class="row">
		<div class="col-md-6 col-xs-12">
			<div class="">
				<h3>Registrer ny observasjon</h3>
			</div>
			<div>
				<div class="form-group">
					<clubselector ng-if="observation" observation="observation"></clubselector>

					<observationdateselector ng-if="observation" observation="observation"></observationdateselector>

					<button type="submit" class="btn btn-primary form-control" ng-disabled="!observation.club || !observation.when" ng-click="createObservation()">
						<i class="fa fa-plus fa-fw"></i>Registrer ny observasjon
					</button>



				</div>
			</div>
		</div>
		<div class="col-md-6 hidden-sm hidden-xm">
			<div class="well">
				<h2 class="text-danger" style="color:#FF3333">Beta!</h2>
				<p class="lead">
					Dette er betaversjonen av ORS. Her kan du herje akkurat som du vil for å utforske systemet.
					<inlinehelp title="">
						Gratulerer. Du har funne hjelpeteksten i ORS.
						<br>
						Viss hjelpeteksten rundt omkring i ORS er utilstrekkelig, se <a href="https://doc.nlf.no/confluence/display/FETDOC">Brukermanualen</a>
					</inlinehelp>
				</p>
			</div>

		</div>
	</div>

	<div class="row">
		<br>
		<div class="col-xs-12">

			<flagsearch></flagsearch>

		</div>
		<div class="col-xs-12 col-md-12">
			<searchform></searchform>
		</div>
		<br>
	</div>

	<div class="row">
		<div class="col-xs-12 col-md-6">
			<table ng-table="tableMyObservations" show-filter="false" class="table table-condensed table-striped table-responsive">
				<caption>
					<h3>Mine observasjoner</h3>
				</caption>
				<tr ng-repeat="observation in $data">

					<td data-title="'Id'" sortable="'id'"><a  ng-click="editObservation(observation._id)">#{{::observation.id}}</a></td>
					<td data-title="'Tid'" sortable="'when'">{{::observation.when | date:'yyyy-MM-dd'}}</td>
					<td data-title="'Tittel'" filter="{ 'tags': 'text' }"><a  ng-click="editObservation(observation._id)">{{::observation.tags.join('/') | cut:true:40:' ...'}}</a></td>
					<td data-title="'Status'" filter="{ 'state': 'text' }"><resolveworkflowstate state="::observation.workflow.state"></resolveworkflowstate></td>
					<td data-title="'Type'"><resolveobservationtypelabel type="::observation.type"></resolveobservationtypelabel> </td>
				</tr>
			</table>


		</div>

		<div class="col-xs-12 col-md-6">

			<table ng-table="todoTable" show-filter="false" class="table table-condensed table-striped table-responsive">
				<caption>
					<h3>Til min behandling</h3>
				</caption>
				<tr ng-repeat="observation in $data">

					<td data-title="'Id'" sortable="'id'"><a  ng-click="editObservation(observation._id.$oid)">#{{::observation.id}}</a></td>
					<td data-title="'Tid'" sortable="'when'">{{::observation.when.$date | date:'yyyy-MM-dd'}}</td>
					<td data-title="'Tittel'" filter="{ 'tags': 'text' }"><a  ng-click="editObservation(observation._id.$oid)">{{::observation.tags.join('/') | cut:true:40:' ...'}}</a></td>
					<td data-title="'Status'" filter="{ 'state': 'text' }"><resolveworkflowstate state="::observation.workflow.state"></resolveworkflowstate></td>
					<td data-title="'Type'"><resolveobservationtypelabel type="::observation.type"></resolveobservationtypelabel> </td>
				</tr>
			</table>



		</div>
	</div>

	<div class="row">

		<div class="col-xs-12 col-md-12">
			<!-- ng-table all observations -->
			<table ng-table="tableParams" show-filter="true" class="table table-condensed table-striped table-responsive table-bordered">

				<caption>
					<h3>Observasjoner</h3>
				</caption>
				<tr ng-repeat="observation in $data">

					<td data-title="'Id'" sortable="'id'"><a  ng-click="editObservation(observation._id)">#{{::observation.id}}</a></td>
					<td data-title="'Tid'" sortable="'when'">{{::observation.when | date:'yyyy-MM-dd'}}</td>
					<td data-title="'Tittel'" filter="{ 'tags': 'select' }" filter-data="getTitles()"><a  ng-click="editObservation(observation._id)">{{::observation.tags.join('/') | cut:true:50:' ...'}}</a></td>
					<td data-title="'Klubb'" filter="{ 'club': 'select' }" filter-data="getClubs()"><resolveclub clubid="::observation.club"></resolveclub></td>
					<td data-title="'Gradering'" sortable="'rating'" filter="{ 'rating': 'select' }" filter-data="getRatings()">{{::observation.rating.actual}}/{{::observation.rating.potential}}</td>
					<td data-title="'Status'" sortable="'state'" filter="{ 'state': 'select' }" filter-data="getStates()"><resolveworkflowstate state="::observation.workflow.state"></resolveworkflowstate></td>
					<td data-title="'Type'" sortable="'type'" filter="{ 'type': 'select'}" filter-data="getTypes()"><resolveobservationtypelabel type="::observation.type"></resolveobservationtypelabel> </td>

				</tr>
			</table>

		</div>
	</div>


</div>