<div>
    <label>Velg involvert(e) person(er):</label><br>

    <ui-select  multiple ng-model="personsInvolved" theme="bootstrap" on-select="personSelected($item, $model)" on-remove="personRemoved($item, $model)">
        <ui-select-match placeholder="Søk på navn eller medlemsnummer...">{{$item.fullname}}</ui-select-match>
        <ui-select-choices repeat="person in personsFromDb | filter:$select.search" refresh="getPersonsByName($select.search)" refresh-delay="0">
            {{person.fullname}} ({{person.id}})
        </ui-select-choices>
    </ui-select>


    <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModalPerson">
        Legg til ny person i databasen
    </button>


</div>