<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" id="ng-app" ng-app="reportingApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">


	<title ng-bind="title">F/NLF - ORS</title>


	<!--AngularJS-->
	<script>
		"use strict";
	</script>

	<!-- bower:css -->
	<link rel="stylesheet" href="/bower_components/bootstrap-css-only/css/bootstrap.css" />
	<link rel="stylesheet" href="/bower_components/angular-loading-bar/build/loading-bar.css" />
	<link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css" />
	<link rel="stylesheet" href="/bower_components/ui-select/dist/select.css" />
	<link rel="stylesheet" href="/bower_components/ng-table/dist/ng-table.min.css" />
	<link rel="stylesheet" href="/bower_components/bootstrap-additions/dist/bootstrap-additions.css" />
	<!-- endbower -->
	<link href="/static/css/app.css" rel="stylesheet">
	<!-- bower:js -->
	<script src="/bower_components/angular/angular.js"></script>
	<script src="/bower_components/angular-route/angular-route.js"></script>
	<script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script src="/bower_components/angular-loading-bar/build/loading-bar.js"></script>
	<script src="/bower_components/angular-cookies/angular-cookies.js"></script>
	<script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
	<script src="/bower_components/angy-auth2/lib/http-auth-interceptor.js"></script>
	<script src="/bower_components/ui-select/dist/select.js"></script>
	<script src="/bower_components/ng-table/dist/ng-table.min.js"></script>

	<script src="/bower_components/ngmap/build/scripts/ng-map.js"></script>
	<!-- endbower -->

	<!-- Auth -->
	<script src="/shared/auth/loginServices.js?v050"></script>
	
	<!-- Resolvers -->
	<script src="/shared/resolve/app.js?v050"></script>
	<script src="/shared/resolve/service.js?v050"></script>
	<script src="/shared/resolve/user.js?v050"></script>
	<script src="/shared/resolve/useravatar.js?v050"></script>
	<script src="/shared/resolve/club.js?v050"></script>
	<script src="/shared/resolve/observationtype.js?v050"></script>
	<script src="/shared/resolve/license.js?v050"></script>
	<script src="/shared/resolve/workflowstate.js?v050"></script>
	<script src="/shared/resolve/observationflags.js?v050"></script>

	
	<!-- Shared directives -->
	<script src="/shared/directives/app.js?v050"></script>
	<script src="/shared/directives/tagging.js?v050"></script>
	<script src="/shared/directives/tags.js?v050"></script>
	<script src="/shared/directives/tagtypeahead.js?v050"></script>
	<script src="/shared/directives/ngconfirmation.js?v050"></script>
	<script src="/shared/directives/inlinehelp.js?v050"></script>


	<!-- shared filters -->
	<script src="/shared/filters/truncate.js?v050"></script>
	<script src="/shared/filters/nl2br.js?v050"></script>

	<!-- shared services -->
	<script src="/shared/services/app.js?v050"></script>
	<script src="/shared/services/Functions.js?v050"></script>
	<script src="/shared/services/RestService.js?v050"></script>
	<script src="/shared/services/Definitions.js?v050"></script>

	<!-- Config -->
	<script src="/config.js?v050"></script>




	<!-- Anagularui datetimepicker -->
	<script src="/static/js/angular-ui-bootstrap-datetimepicker/datetimepicker.js?v050"></script>
	<script src="/static/js/angular-ui-bootstrap-datetimepicker/datetimepicker-tpls-0.11.js?v050"></script>
    <link href="/static/js/angular-ui-bootstrap-datetimepicker/datetimepicker.css" type="text/css" rel="stylesheet">  
	
	<!-- File upload -->
	<script src="/static/js/FileAPI.min.js?v050"></script>
	<script src="/static/js/angular-file-upload-shim.min.js?v050"></script>
	<script src="/static/js/angular-file-upload.min.js?v050"></script>
	
	<!-- ngmap -->
	<script src="//maps.google.com/maps/api/js"></script>

	

	
	<!-- Moment -->
	<script src="/static/js/angular-moment/moment.min.js?v050"></script>
	<script src="/static/js/angular-moment/angular-moment.min.js?v050"></script>
	<script src="/static/js/angular-moment/nb.js?v050"></script>
	
	<!-- Angled navbar -->
	<link href="/static/js/angled/angled-navbar.css?v050" rel="stylesheet">
	<script src="/static/js/angled/angled-navbar.js?v050"></script>

	<!-- Drag drop sort list -->
<!-- 	<script src="/static/js/angular-drag-and-drop-lists.min.js?v050"></script> -->

	<!-- App -->
	<script src="app.js?v050"></script>
	<script src="routes.js?v050"></script>





	<!-- Search -->
	<script src="search/SearchController.js?v050"></script>
	<script src="search/directives/searchfilters.js?v050"></script>
	<script src="search/directives/searchform.js?v050"></script>
	<script src="search/directives/flagsearch.js?v050"></script>
	<script src="search/directives/searchtable.js?v050"></script>
	<script src="search/services/SearchService.js?v050"></script>

	<!-- Main -->
	<script src="main/services/ObservationsTableService.js?v050"></script>
	<script src="main/mainController.js?v050"></script>
	<script src="main/directives/clubselector.js?v050"></script>
	<script src="main/directives/observationdateselector.js?v050"></script>

	<!-- Observation -->
	<script src="observation/controllers/ObservationController.js?v050"></script>
	<script src="observation/controllers/ReportController.js?v050"></script>
	<script src="observation/services/ObservationService.js?v050"></script>
	<script src="observation/services/locationService.js?v050"></script>
	<script src="observation/services/FileService.js?v050"></script>

	<!-- Directives -->
	<script src="persondetails/directives/involvedpersonselector.js?v050"></script>
	<script src="persondetails/directives/involvedpersondetails.js?v050"></script>
	<script src="persondetails/directives/involvedperson.js?v050"></script>
	<script src="persondetails/directives/involvedpersonsummary.js?v050"></script>
	<script src="persondetails/directives/involvedSummary.js?v050"></script>


	<script src="observation/directives/location/locationselector.js?v050"></script>
	<script src="observation/directives/location/locationsummary.js?v050"></script>
	<script src="observation/directives/hfk/observationHfkSelector.js?v050"></script>
	<script src="observation/directives/hfk/observationHfkText.js?v050"></script>
	<script src="observation/directives/organization/organization.js?v050"></script>
	<script src="observation/directives/organization/organizationSummary.js?v050"></script>
	<script src="observation/directives/observationtype.js?v050"></script>
	<script src="observation/directives/summary.js?v050"></script>
	<script src="observation/directives/workflow.js?v050"></script>
	<script src="observation/directives/workflowButton.js?v050"></script>
	<script src="observation/directives/workflowtimeline.js?v050"></script>
	<script src="observation/directives/watchers.js?v050"></script>
	<script src="observation/directives/ratingactual.js?v050"></script>
	<script src="observation/directives/ratingpotential.js?v050"></script>
	<script src="observation/directives/observationflags.js?v050"></script>
	<script src="observation/directives/filepreviews.js?v050"></script>
	<script src="observation/directives/files.js?v050"></script>
	<script src="observation/directives/weather.js?v050"></script>
	<script src="observation/directives/share.js?v050"></script>
	<script src="observation/directives/comments.js?v050"></script>
	<script src="observation/directives/actions.js?v050"></script>
	<script src="observation/directives/fullscreen.js?v050"></script>

	<!-- Observationcomponent -->
	<script src="component/directives/observationComponent.js?v050"></script>
	<script src="component/directives/observationComponents.js?v050"></script>
	<script src="component/directives/flags.js?v050"></script>
	<script src="component/directives/flagseditor.js?v050"></script>






</head>
<body>
<style ng-if="navBarHidden">
	body {
		padding-top:0px;
	}

</style>

	<!-- Navigationbar -->
	<angled-navbar ng-hide="navBarHidden" menus="nav.menus" search="nav.search" inverse="false" brand="nav.brand" affixed="top" loggedin="currentUserSignedIn" toolbar="nav.toolbar"></angled-navbar>
	<!-- END OF Navigationbar -->

	<!--Contains data from /pages appears in ng-view-->
	<div class="container">

		<div class="row">

			<div class="alert alert-info" role="alert" ng-show="error">{{error}}</div>

			<div ng-hide="currentUserSignedIn">
				<fnlf-login></fnlf-login>
			</div>
			<div ng-if="currentUserSignedIn" ng-view class="ng-cloak" ng-cloak>

			</div>

		</div>
		<div id="push"></div>
	</div>



</body>
</html>
