<div ng-controller="HiController"> 
    <div>
        <div  ng-show="anomalies.length > 0">
            <h1>Les rapporter</h1>
            <span>Filter: <input ng-model="searchText"></span><br><br>
        <table class="table table-hover">
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">Type avvik</th>
                <th class="text-center">Klubb</th>
                <th class="text-center">Lokasjon</th>
                <th class="text-center">Dato / tid</th>
                <th class="text-center">Involverte personer</th>
            </tr>
            <tr ng-repeat="anomaly in anomalies| filter:searchText" ng-click="showAnomaly(anomaly)">
                    <td class="text-center">{{anomaly.id}}</td>
                    <td class="text-center">{{anomaly.anomalyType.name}}</td>
                    <td class="text-center">{{anomaly.club.name}}</td>
                    <td class="text-center">{{anomaly.location.name}}</td>
                    <td class="text-center">{{anomaly.dateTime | date:'dd.MM.yyyy HH.mm'}}</td>
                    <td class="text-center"><p ng-repeat="person in anomaly.involvedPersons">
                {{person.firstname}} {{person.lastname}}
                        </p></td>
            </tr>
        </table>
        </div>
        <div ng-show="anomalies.length == 0"><h1>Ingen avvik registrert!</h1></div>
    </div>
</div>