<div ng-init="getAllUsers()">

<table ng-table="usersTable" show-filter="false" class="table table-condensed table-striped table-responsive">
	<caption><h2>Registrerte brukere</h2></caption>
	<tr ng-repeat="user in $data">

		<td data-title="'Navn'" sortable="'name'"><a href="#!/{{user.id}}"><resolveuser userid="user.id"></resolveuser></a></td>
		<td data-title="'Medlemsnr'" sortable="'description'"><a href="#!/{{user.id}}">{{user.id}}</a></td>
		<td data-title="'Opprettet'" sortable="'active'">{{user._created | date:'yyyy-MM-dd HH:mm'}}</td>
	</tr>
</table>

</div>