<style>
	.newobservation >div {
		padding: 10px;
	}

</style>

<div class=" col-md-7 col-sm-12 pull-left" ng-if="currentUserSignedOut">
	<h1>Fallskjermseksjonen / Norges Luftsportforbund</h1>

	<h2>Observasjonsrapportering</h2>

	<p>Dette er F/NLF's system for rapportering av observasjoner. Sidene er tilgjengelige for medlemmer i F/NLF.</p>
</div>


<div class="" ng-controller="MainController">

	<div class="panel panel-default col-md-12 newobservation" ng-init="getObservations()">
		<div class="panel-body">
			<div class="col-md-4  col-xs-12">
				<clubselector observation="observation"></clubselector>
			</div>

			<!--Select date-->
			<div class=" col-md-4  col-xs-12">
				<observationdateselector observation="observation"></observationdateselector>
			</div>

			<div>

				<button type="submit" class="btn btn-primary col-md-4 col-xs-12" ng-click="createObservation()"><i class="fa fa-plus fa-fw"></i>Opprett observasjon</button>

			</div>
		</div>
	</div>

	<div class="col-xs-12">

		<h2>
			Rediger eksisterende observasjoner

		</h2>
		<ul class="list-group">
			<li class="list-item" ng-repeat="observation in observations">
				<div><a src="#" ng-click="editObservation(observation._id)"><h3> #{{observation.id}} {{observation.tags.join(' ')}} </h3></a></div>

			</li>
		</ul>
	</div>


</div>






