<div>

	<h1>Tagge-editor</h1>

	<h3>Gruppe: {{filterText}}</h3>
	<div>


		<div>
			<span ng-repeat="(group,text) in groupTexts">
				<a ng-click="setFilter(group)">{{text}}</a> &nbsp;
			</span>
		</div>

	</div>

	<br>
	<br>

	<div>
		Prioriten til en tagg øker med 1 hver gang den blir lagt til i en observasjon.
		<br>
	</div>

	<div>
		Tagger med prioritet under 0 vises ikke i ORS. Bruk + og - for å vekte tagger opp og ned.<br>
	</div>

	<!-- div>
		<button class="btn btn-default" ng-show="page>1" ng-click="getTags(page-1)">Side {{page-1}}</button>
		<span>Side {{page}}</span>
		<button class="btn btn-default" ng-click="getTags(page+1)">Side {{page+1}}</button>
	</div-->
	<table class="table">
		<tr>
			<td><button class="btn btn-default" ng-click='sortByTag()'>Tag</button></td> <td><button class="btn btn-default" ng-click='sortByFreq()'>Prioritet</button></td>
		</tr>

		<tr ng-repeat="tag in allTags">
			<td><small>{{tag.tag}}</small></td> <td><small>{{tag.freq}} <span ng-click="tagUp(tag)" class="fa fa-plus"></span> <span ng-click="tagDown(tag)" class="fa fa-minus"></span></small></td>
		</tr>

	</table>

</div>