<span>
	<resolveuser userid="person.id"></resolveuser>&nbsp;
	<!--<span>{{person.jumptypeSelected}}</span>&nbsp;-->
	<span ng-repeat="tag in person.jumptypeTags"><span class="label label-info">{{tag}}&nbsp;</span>&nbsp;</span>
	<span class="label label-default">{{person.gear.harnessType}}</span>&nbsp;
	<span class="label label-default">{{person.gear.mainCanopyType}}</span>&nbsp;
	<span class="label label-info">Antall hopp: {{person.numberOfJumps}}</span>&nbsp;
	<span class="label label-info">År i sporten: {{person.yearsOfExperience}}</span>&nbsp;
</span>

