<table class="table">
	<tr>
		<td>HL</td>
		<td><span ng-repeat="person in observation.organization.hl">
		<span><resolveuser userid="person.id" tmpname="person.tmpname"></resolveuser></span>
		&nbsp;
	</span>
		</td>
	</tr>
	<tr>
		<td>HM</td>
		<td>
	<span ng-repeat="person in observation.organization.hm">
		<span><resolveuser userid="person.id" tmpname="person.tmpname"></resolveuser></span>
		&nbsp;
	</span>
		</td>
	</tr>

	<tr>
		<td>HFL</td>
		<td>	<span ng-repeat="person in observation.organization.hfl">
		<span><resolveuser userid="person.id" tmpname="person.tmpname"></resolveuser></span>
		&nbsp;
	</span></td>

	</tr>
	<tr>
		<td>Pilot</td>
		<td>	<span ng-repeat="person in observation.organization.pilot">
		<span><resolveuser userid="person.id" tmpname="person.tmpname"></resolveuser> </span>
		&nbsp;
	</span></td>

	</tr>
</table>





