<table class="table">
	<tr>
		<td>HL</td>
		<td><span ng-repeat="hl in observation.organization.hl">
		<span>{{hl.fullname}} </span>
		&nbsp;
	</span>
		</td>
	</tr>
	<tr>
		<td>HM</td>
		<td>
	<span ng-repeat="hfl in observation.organization.hfl">
		<span>{{hfl.fullname}} </span>
		&nbsp;
	</span>
		</td>
	</tr>

	<tr>
		<td>HFL</td>
		<td>	<span ng-repeat="hm in observation.organization.hm">
		<span>{{hm.fullname}} </span>
		&nbsp;
	</span></td>

	</tr>
	<tr>
		<td>Pilot</td>
		<td>	<span ng-repeat="pilot in observation.organization.pilot">
		<span>{{pilot.fullname}} </span>
		&nbsp;
	</span></td>

	</tr>
</table>





