<div>
	<div class="form-group col-xs-12 col-md-4">
		<label>HL:</label>

		<ui-select multiple tagging="tagTransform" ng-model="observation.organization.hl" theme="bootstrap" on-select="personSelected($item, $model)"
				   on-remove="personRemoved($item, $model)">
			<ui-select-match placeholder="Søk på navn eller medlemsnummer...">{{$item.fullname}}</ui-select-match>
			<ui-select-choices repeat="person in personsFromDb | filter:$select.search"
							   refresh="getPersonsByName($select.search)" refresh-delay="500">
				{{person.fullname}} ({{person.id}})
			</ui-select-choices>
		</ui-select>

	</div>

	<div class="form-group col-xs-12 col-md-4">
		<label>HFL:</label>

		<ui-select multiple tagging="tagTransform" ng-model="observation.organization.hfl" theme="bootstrap" on-select="personSelected($item, $model)"
				   on-remove="personRemoved($item, $model)">
			<ui-select-match placeholder="Søk på navn eller medlemsnummer...">{{$item.fullname}}</ui-select-match>
			<ui-select-choices repeat="person in personsFromDb | filter:$select.search"
							   refresh="getPersonsByName($select.search)" refresh-delay="500">
				{{person.fullname}} ({{person.id}})
			</ui-select-choices>
		</ui-select>

	</div>

	<div class="form-group col-xs-12 col-md-4">
		<label>HM:</label>

		<ui-select multiple tagging="tagTransform" ng-model="observation.organization.hm" theme="bootstrap" on-select="personSelected($item, $model)"
				   on-remove="personRemoved($item, $model)">
			<ui-select-match placeholder="Søk på navn eller medlemsnummer...">{{$item.fullname}}</ui-select-match>
			<ui-select-choices repeat="person in personsFromDb | filter:$select.search"
							   refresh="getPersonsByName($select.search)" refresh-delay="500">
				{{person.fullname}} ({{person.id}})
			</ui-select-choices>
		</ui-select>

	</div>

</div>