
<span ng-repeat="tag in person.jumptypeTags"><span class="label label-info">{{tag}}&nbsp;</span>&nbsp;</span>
<b><resolveuser userid="person.id" tmpname="person.tmpname"></resolveuser></b> <span class="text-muted" ng-if="person.yearsOfExperience">{{person.yearsOfExperience}} år i sporten</span><span class="text-muted" ng-if="person.numberOfJumps">, {{person.numberOfJumps}} hopp</span>
<!--<span>{{person.jumptypeSelected}}</span>&nbsp;-->
<small>
	<br>
	<span ng-if="person.gear.harnessType">{{person.gear.harnessType}}</span>
	<span ng-if="person.gear.mainCanopyType">{{person.gear.mainCanopyType}}</span>
	<span ng-repeat="tag in person.gear.other"><span>{{tag}}&nbsp;</span></span>



	<span ng-if="person.verdict.fu" class="label label-warning">FU</span>
	<span ng-if="person.verdict.mh" class="label label-warning">Midlertidig hoppforbud</span>
	<span ng-if="person.verdict.ph" class="label label-danger">Permanent Hoppforbud</span>
</small>




