<div>
	<div>
		<flagseditor acl="allacl" attributes="filter"></flagseditor>
	</div>
	<div>

		<label for="year" class="col-sm-2 control-label">Årstall</label>
		<div class="col-xs-2">
			<input placeholder="fra" id="year" class="form-control" type="number" ng-model="filter.year1">
			<input placeholder="til" id="year2" class="form-control" type="number" ng-model="filter.year2">
		</div>
		<label for="jumps" class="col-sm-2 control-label">Antall hopp</label>
		<div class="col-xs-2">
			<input placeholder="fra" id="jumps" class="form-control" type="number" ng-model="filter.jumps1">
			<input placeholder="til" id="jumps2" class="form-control" type="number" ng-model="filter.jumps2">
		</div>
		<label for="years" class="col-sm-2 control-label">År i sporten</label>
		<div class="col-xs-2">
			<input placeholder="fra" id="years" class="form-control" type="number" ng-model="filter.years1">
			<input placeholder="til" id="years2" class="form-control" type="number" ng-model="filter.years2">
		</div>

		<label for="mainexperience" class="col-sm-2 control-label">Erfaring hovedskjerm</label>
		<div class="col-xs-2">
			<input placeholder="fra" id="mainexperience" class="form-control" type="number" ng-model="filter.mainExperience1">
			<input placeholder="til" id="mainexperience2" class="form-control" type="number" ng-model="filter.mainExperience2">
		</div>

		<label for="harnessexperience" class="col-sm-2 control-label">Erfaring seletøy</label>
		<div class="col-xs-2">
			<input placeholder="fra" id="harnessexperience" class="form-control" type="number" ng-model="filter.harnessExperience1">
			<input placeholder="til" id="harnessexperience2" class="form-control" type="number" ng-model="filter.harnessExperience2">
		</div>

		<label for="mainsize" class="col-sm-2 control-label">Hovedskjermstørrelse</label>
		<div class="col-xs-2">
			<input placeholder="fra" id="mainsize" class="form-control" type="number" ng-model="filter.mainsize1">
			<input placeholder="til" id="mainsize2" class="form-control" type="number" ng-model="filter.mainsize2">
		</div>




	</div>



</div>