<div>
	<div class="input-group">
		<ui-select  ng-model="model.search" theme="bootstrap" search-enabled="false"  on-select="onSelect(tag, $model)">
			<ui-select-match placeholder="Søk...">{{$select.selected}}</ui-select-match>
			<ui-select-choices refresh="refresh($select.search)" refresh-delay="100" repeat="tag in tags | filter:$select.search">
				{{tag}}
			</ui-select-choices>
		</ui-select>
		<span class="input-group-btn">
			<span class="btn btn-primary" ng-disabled="!model.search" type="button" ng-click="go()" >
				Søk
			</span>
		</span>
	</div>
</div>
